<ion-view title="Daftar Kuliner" id="daftar">
    <ion-content lazy-scroll padding="true" class="has-header">
        <!-- <ion-refresher
            on-refresh="getMenus()"
            spinner = "ripple" >
        </ion-refresher> -->

        <div class="list card"  style="padding:0;"> 
            <div class="item item-divider kontak-header">
                DAFTAR KULINER
            </div>
            <div class="item item-text-wrap mangan-menu" style="border:0;">
                <label class="item-input mangan-menu">
                    <i class="mangan-invoice-icon icon ion-android-restaurant"></i>
                    <input type="text" placeholder="Nama Usaha Kuliner" ng-model="data.namaResto" required>
                </label>
                <label class="item-input mangan-menu">
                    <i class="mangan-invoice-icon icon ion-person"></i>
                    <input type="text" placeholder="Nama Pemilik" ng-model="data.namaPemilik" required>
                </label>
                <label class="item-input mangan-menu">
                    <i class="mangan-invoice-icon icon ion-ios-location"></i>
                    <input type="text" placeholder="Alamat Usaha Kuliner" ng-model="data.alamat" required>
                </label>
                <label class="item-input mangan-menu">
                    <i class="mangan-invoice-icon icon ion-android-call"></i>
                    <input type="number" placeholder="No Telp Pemilik" ng-model="data.kontak" required>
                </label>
                <label class="item-input mangan-menu">
                    <i class="mangan-invoice-icon icon ion-compose"></i>
                    <input type="text" placeholder="Deskripsi Usaha Kuliner" ng-model="data.deskripsi" required>
                </label>
            </div>
        </div>
            <button class="button button-block button-outline button-oren" ng-click="daftar()" ion-ripple>DAFTAR SEKARANG</button>

    </ion-content>
</ion-view>
