<ion-view title="Daftar Kuliner" id="daftar">
    <ion-content lazy-scroll padding="true" class="has-header">
        <!-- <ion-refresher
            on-refresh="getMenus()"
            spinner = "ripple" >
        </ion-refresher> -->

        <div class="card mangan-card">
        
            <div class="row kontak-header">
                <span class="col col-70"><p>DAFTAR KULINER</p></span>
                <!-- <a style="font-size: 14px; padding-top: 5px; color: white; text-decoration:none;">Lihat Paket</a> -->
            </div>
            
            <!-- <div class="item item-text-wrap mangan-menu" style="background-color:#f9f9f9;  border-left: 1px solid #e6e7e8;border-right: 1px solid #e6e7e8;">
                <p style="text-align: justify;">Daftarkan usaha kuliner Anda dan jadilah bagian dalam jaringan wisata kuliner Indonesia. Usaha kuliner anda juga akan dikenal oleh lebih banyak orang.</p>
            </div> -->
            <div class="item item-text-wrap mangan-menu" style="border-left: 1px solid #e6e7e8;border-right: 1px solid #e6e7e8;">
                <label class="item-input mangan-menu">
                    <i class="mangan-invoice-icon icon ion-android-restaurant"></i>
                    <span class="mangan-line"><input type="text" placeholder="Nama Usaha Kuliner" ng-model="data.namaResto"></span>
                </label>
                <label class="item-input mangan-menu">
                    <i class="mangan-invoice-icon icon ion-ios-location"></i>
                    <span class="mangan-line"><input type="text" placeholder="Alamat Usaha Kuliner"  ng-model="data.alamat"></span>
                </label>
                <!-- <label class="item-input mangan-menu" style="margin-left: 18px;"><button class="button button-clear button-balanced button-small button-outline" style="font-size: 12px; color:rgb(1,175,177); text-decoration:none;" ng-click="pickLocation()">Pilih Lokasi</button></label> -->
                <label class="item-input mangan-menu">
                    <i class="mangan-invoice-icon icon ion-ios-telephone"></i>
                    <span class="mangan-line"><input type="number" placeholder="Nomor Telepon Anda" ng-model="data.kontak"></span>
                </label>
                <label class="item-input item-select mangan-menu" required>
                    <i class="mangan-invoice-icon icon ion-coffee"></i>
                    <span class=""><p class="input-label" style="color:#a3a3a3;">Paket</p></span>
                    <select>
                      <option value="">Silver</option>
                      <option value="">Gold</option>
                      <option value="">Platinum</option>
                    </select>
                </label>
            </div>
        </div>
            <button class="button button-block button-outline button-oren" ng-click="daftar()" ion-ripple>DAFTAR SEKARANG</button>

    </ion-content>
</ion-view>
