<ion-view title="Invoice" id="invoice">
    <ion-content lazy-scroll padding="true" class="has-header">
        <!-- <ion-refresher
            on-refresh="getMenus()"
            spinner = "ripple" >
        </ion-refresher> -->

        <div class="card">
        	<div class="item item-divider">ORDER ITEMS</div>
	        	<div class="item">
	        		<div class="row">
	  					<div class="col col-75">Ayam Kucing Kesukaan</div>
	  					<div class="col">Rp 20.000</div>
					</div>
					<div class="row">
	  					<div class="col col-75"></div>
	  					<div class="col col-50">
	  						<h3>Jumlah : 
		                        <a class="ion ion-plus" style="padding-left: 5px; padding-right: 10px;"></a>
		                         10
		                        <a class="ion ion-minus" style="padding-left: 10px;"></a>
	                    	</h3>
	  					</div>
					</div>
				</div>
		</div>

		<div class="card">
        	<div class="item item-divider">PENGIRIMAN</div>
	        	<div class="list">
	        		<label class="item item-input">
	        			<i class="icon ion-person"></i>
	        			<input type="text">
	        		</label>
	        		<label class="item item-input">
	        			<i class="icon ion-person"></i>
	        			<input type="text">
	        		</label>
	        		<label class="item item-input">
	        			<i class="icon ion-person"></i>
	        			<input type="text">
	        		</label>
	        	</div>
		</div>
	        	
       


    </ion-content>
</ion-view>
