<ion-view title="Invoice" id="invoice">
    <ion-content lazy-scroll padding="true" class="has-header has-footer">
        <!-- <ion-refresher
            on-refresh="getMenus()"
            spinner = "ripple" >
        </ion-refresher> -->

        <div class="list card" style="padding:0; position: relative; -webkit-backface-visibility: hidden;">
        	<div class="item item-divider kontak-header" style="border:0;">
        		PESANAN
        	</div>
        	<div class="item item-text-wrap mangan-menu" style="border:0;" ng-repeat="menu in transaksi.pesanan">
        		<div class="row">
  					<div class="col col-75"><h3>{{menu.namaMenu}}</h3></div>
  					<div class="col"><h3>Rp {{menu.harga * menu.quantity}}</h3></div>
				</div>
				<div class="row">
  					<div class="col">
  						<p>Jumlah : 
                            <span>
                                <button class="button mangan-button-jumlah button-oren button-outline" ng-click="minQuantity($index, menu.quantity)"><i class="ion ion-minus" style=""></i></button>
                                <span style="font-size: 16px;padding-left: 6px; padding-right: 6px;">{{menu.quantity}}</span>
                                <button class="button mangan-button-jumlah button-oren button-outline" ng-click="addQuantity($index, menu.quantity)"><i class="ion ion-plus" style=""></i></button>
                            </span>
                        </p>
  					</div>
				</div>
				<label class="item-input item-text-wrap mangan-menu" style="margin-top:-5px;">
        			<i class="mangan-invoice-icon icon ion-compose" style="margin-right:5px;"></i>
        			<input type="text" placeholder="Tambah Catatan" style="color:orangered;" ng-model="menu.note">
        		</label>
        	</div>
            <div class="list mangan-keterangan-teks" style="">
                <!-- <div class="item item-divider">
                    Pesanan Lain
                </div>
                <div class="row item-text-wrap mangan-menu">
                    <div class="col col-90" style="padding-left: 10px;"><p style="color: black">{{transaksi.tambahan}}</p></div>
                    <div class="col"><i class="mangan-invoice-icon icon ion-android-close" style="color: orangered;"></i></div>
                </div> -->

                <!-- <div class="item-body item-icon-right">
                    <div class="mangan-keterangan-teks" style="">
                        <p>{{transaksi.tambahan}}</p>
                        <button class="button button-clear button-small"><i class="mangan-invoice-icon icon ion-android-close" style="color: orangered;"></i></button>
                    </div>
                </div> -->

                <div class="item mangan-menu" style="margin:0; text-align: center; border-top: 1px solid rgb(230,231,232); border-bottom:0;">
                        <a class="" style="text-decoration: none; color: rgb(1,177,178); font-size: 14px;" ng-click="addOrder()"><i class="icon ion-plus"></i> Tambah Pesanan</a>
                </div>
            </div>
        </div>

        <div class="list card" style="position: relative; -webkit-backface-visibility: hidden;">
        	<div class="item item-divider kontak-header" style="border:0;">
        		PENGIRIMAN
        	</div>
        	
        	<div class="item item-text-wrap mangan-menu" style="border: 0;">
        		<label class="item-input mangan-menu">
        			<i class="mangan-invoice-icon icon ion-ios-person"></i>
        			<input type="text" placeholder="Penerima" readonly="true" style="" ng-model="transaksi.namaUser">
        		</label>
        		<label class="item-input mangan-menu" style="">
        			<i class="mangan-invoice-icon icon ion-ios-location"></i>
                    <input type="text" placeholder="Pilih Lokasi Alamat" style="" ng-model="transaksi.alamatUser" ng-focus="pickLocation()" readonly>
                    <!-- <i class="mangan-invoice-icon icon ion-android-locate" ng-click="pickLocation()"></i> -->
        		</label>
        		<!-- <label class="item-input mangan-menu">
                    <button class="button button-clear button-oren button-small button-outline" style="margin-left: 18px;" ng-click="pickLocation()">Pilih Alamat Pengiriman</button>
                </label> -->
                <label class="item-input mangan-menu">
                    <i class="mangan-invoice-icon icon ion-ios-location"></i>
                    <input type="text" placeholder="Detail Alamat" style="" ng-model="transaksi.alamatUserDetail" required>
                </label>
        		<label class="item-input mangan-menu">
        			<i class="mangan-invoice-icon icon ion-android-call"></i>
        			<input type="number" placeholder="Telepon" style="" ng-model="transaksi.noTelpUser" required>
        		</label>
               <!--  <label class="item-input mangan-menu">
                    <i class="mangan-invoice-icon icon ion-ios-chatboxes"></i>
                    <input type="text" placeholder="LINE Username" style="" ng-model="transaksi.lineUsername" required>
                </label> -->
        		<label class="item-input item-select item-text-wrap mangan-menu">
				    <i class="mangan-invoice-icon icon ion-android-bicycle"></i>
				    <div class="input-label">Kurir</div>
				    <select ng-model="transaksi.kurir" ng-change="setFeeDelivery(transaksi.kurir)">
                        <option ng-repeat="kurir in listKurir" value="{{kurir.index}}">{{kurir.nama}} (Mulai Rp {{kurir.ongkir}})</option>
				    </select>
				</label>
			</div>
        </div>

        <div class="list card" style="position: relative; -webkit-backface-visibility: hidden;">
			<div class="item item-divider kontak-header" style="border:0;">
        		BIAYA
        	</div>
        	<div class="item item-text-wrap mangan-menu" style="border:0;">
	        	<div class="row">
					<div class="col col-75"><h3>Sub Total</h3></div>
					<div class="col"><h3>Rp {{transaksi.jumlah}}</h3></div>
				</div>
				<div class="row">
					<div class="col col-75"><h3>Ongkos Kirim</h3></div>
					<div class="col"><h3>Rp {{transaksi.feedelivery}}</h3></div>
				</div>
                <div class="row">
                    <div class="col"><h3>Keterangan Ongkos Kirim:</h3></div>
                </div>
                <div class="row">
                    <div class="col"><p>{{kurirDetail.keterangan}}</p></div>
                </div>
			</div>
			<div class="item item-text-wrap mangan-menu" style="border-top: 1px solid rgb(230,231,232); border-bottom:0;">
				<div class="row">
					<div class="col col-75"><h2 style="color:rgb(1,177,178);">TOTAL BAYAR</h2></div>
					<div class="col"><h2 style="color:rgb(1,177,178);">Rp {{transaksi.totalHarga}}</h2></div>
				</div>
			</div>
		</div>

    </ion-content>
     <!-- <div class="" style="height:auto; background-color:; position:fixed; bottom:0px;left:0px;right:0px;"> -->
            <button class="button button-full button-oren icon-right ion-chevron-right" ng-click="checkout()" style="position:fixed; border-top-right-radius:0px; border-top-left-radius:0px;border-bottom-right-radius:0px;border-bottom-left-radius:0px;margin-bottom:0px; bottom:0px;left:0px;right:0px;box-shadow: 0px 0px 10px 2px rgba(136,136,136,1);" ion-ripple>CHECKOUT</button>
     <!-- </div> -->
</ion-view>
