<ion-view title="Invoice" id="invoice">
    <ion-content lazy-scroll padding="true" class="has-header">
        <!-- <ion-refresher
            on-refresh="getMenus()"
            spinner = "ripple" >
        </ion-refresher> -->

        <div class="card mangan-card">
        	<div class="kontak-header">
        		<p>PESANAN</p>
        	</div>
        	<div class="item item-text-wrap mangan-menu" style="border-left: 1px solid rgb(230,231,232);border-right: 1px solid rgb(230,231,232);" ng-repeat="menu in transaksi.pesanan">
        		<div class="row">
  					<div class="col col-75"><h3>{{menu.namaMenu}}</h3></div>
  					<div class="col"><h3>Rp {{menu.harga * menu.quantity}}</h3></div>
				</div>
				<div class="row">
  					<div class="col col-50">
  						<p>Jumlah : 
                            <span>
                                <button class="button mangan-button-jumlah button-oren button-outline" ng-click="minQuantity($index, menu.quantity)"><i class="ion ion-minus" style=""></i></button>
                                <span style="font-size: 16px;padding-left: 6px; padding-right: 6px;">{{menu.quantity}}</span>
                                <button class="button mangan-button-jumlah button-oren button-outline" ng-click="addQuantity($index, menu.quantity)"><i class="ion ion-plus" style=""></i></button>
                            </span>
                        </p>
  					</div>
				</div>
				<label class="item-input mangan-menu" style="margin-top:-5px;">
        			<i class="mangan-invoice-icon icon ion-compose" style="margin-right:5px;"></i>
        			<span class=""><input type="text" placeholder="Tambah Catatan" style="color:orangered;" ng-model="menu.note"></span>
        		</label>
        	</div>
            <div class="list mangan-detail-review">
                <div class="item item-divider">
                    Pesanan Tambahan
                </div>
                <div class="item-body">
                    <div class="mangan-keterangan-teks" style="color: orangered;"><p>{{transaksi.tambahan}}</p></div>
                </div>
            </div>

            <div class="item mangan-menu" style="margin:0; text-align: center; border-left: 1px solid rgb(230,231,232);border-right: 1px solid rgb(230,231,232);">
                    <a class="" style="text-decoration: none; color: rgb(1,177,178); font-size: 14px;" ng-click="addOrder()"><i class="icon ion-plus"></i> Tambah Pesanan</a>
            </div>
		
        	<div class="kontak-header">
        		<p>PENGIRIMAN</p>
        	</div>
        	
        	<div class="item item-text-wrap mangan-menu" style="border-left: 1px solid rgb(230,231,232);border-right: 1px solid rgb(230,231,232);">
        		
        		<label class="item-input mangan-menu">
        			<i class="mangan-invoice-icon icon ion-ios-person"></i>
        			<span class="mangan-line"><input type="text" placeholder="Penerima" readonly="true" ng-model="transaksi.namaUser"></span>
        		</label>
        		<label class="item-input mangan-menu">
        			<i class="mangan-invoice-icon icon ion-ios-location"></i>
        			<span class="mangan-line"><input type="text" placeholder="Alamat" ng-model="transaksi.alamatUser" required></span>
        		</label>
        		<label class="item-input mangan-menu" style="margin-left: 18px;"><button class="button button-clear button-balanced button-small button-outline" style="font-size: 12px; color:rgb(1,175,177); text-decoration:none;" ng-click="pickLocation()">Pilih Lokasi</button></label>
        		<label class="item-input mangan-menu">
        			<i class="mangan-invoice-icon icon ion-ios-telephone"></i>
        			<span class="mangan-line"><input type="number" placeholder="Telepon" ng-model="transaksi.noTelpUser" readonly></span>
        		</label>
                <label class="item-input mangan-menu">
                    <i class="mangan-invoice-icon icon ion-ios-chatboxes"></i>
                    <span class="mangan-line"><input type="text" placeholder="LINE Username" ng-model="transaksi.lineUsername" readonly></span>
                </label>
        		<label class="item-input item-select mangan-menu">
				    <i class="mangan-invoice-icon icon ion-android-bicycle"></i>
				    <span class=""><p class="input-label" style="color:#a3a3a3;">Kurir</p></span>
				    <select ng-model="transaksi.kurir">
                      <option value="maskurir">Maskurir</option>
                      <option value="esd">ESD</option>
				      <option value="kurma">Kurma</option>
				    </select>

				</label>
			</div>

			<div class="kontak-header">
        		<p>BIAYA</p>
        	</div>
        	<div class="item item-text-wrap mangan-menu" style="border-left: 1px solid rgb(230,231,232);border-right: 1px solid rgb(230,231,232);">
	        	<div class="row">
					<div class="col col-75"><h3>Total Pesanan</h3></div>
					<div class="col"><h3>Rp {{transaksi.jumlah}}</h3></div>
				</div>
				<div class="row">
					<div class="col col-75"><h3>Ongkos Kirim</h3></div>
					<div class="col"><h3>Rp {{transaksi.feedelivery}}</h3></div>
				</div>
			</div>
			<div class="item mangan-menu" style="border-bottom-left-radius: 8px;border-bottom-right-radius: 8px;border-left: 1px solid rgb(230,231,232);border-right: 1px solid rgb(230,231,232)">
				<div class="row">
					<div class="col col-75"><h2 style="color:rgb(1,177,178);">TOTAL BAYAR</h2></div>
					<div class="col"><h2 style="color:rgb(1,177,178);">Rp {{transaksi.totalHarga}}</h2></div>
				</div>
			</div>

		</div>
            <button class="button button-block button-outline button-oren" ng-click="checkout()" ion-ripple>CHECKOUT</button>

    </ion-content>
</ion-view>
