<ion-view hide-back-button="true" id="page2">
<ion-nav-title>
    <button ng-show="locSettings == true" class="button button-small button-clear" ng-click="pickCity()" ion-ripple>Kamu Melihat : {{selectedCity}} <i class="ion-ios-arrow-down"></i></button>
    <p ng-show="!locSettings || locSettings == false">Jelajah</p>
</ion-nav-title>
    
<ion-content padding="false" overflow-scroll="false" class="has-header">
    <div>
        <!-- If transaksi done, ng-hide -->
        <div class="list" ng-click="transaksi()" style="margin-bottom: 5px; border: 0;">
            <div class="item item-text-wrap item-icon-right mangan-top-notify" ng-show="queue.length > 0 || process.length > 0" ion-ripple>
                <p ng-show="queue.length > 0">{{queue.length}} Pesanan sedang dalam Queue</p>
                <p ng-show="process.length > 0">{{process.length}} Pesanan sedang dalam Process</p>
                <i class="icon ion-ios-arrow-right"></i>
            </div>
        </div>

        <form class="list mangan-input-search" ng-submit="searchQuery()">
            <label class="item item-input" name="Pencarian">
                <div><i class="icon ion-ios-search placeholder-icon"></i></div>
                <input type="search" placeholder="Cari" ng-model="user.query" ng-focus="typeSearch()" ion-ripple>
            </label>
        </form>

        <div class="mangan-divider"></div>
        
        <div class="list">
            <div class="item item-text-wrap item-thumbnail-right mangan-text mangan-greeting-card">
                <img class="mangan-greeting-gambar" ng-src="{{dataUser.photoUrl}}">
                <h2 ng-show="!dataUser.name" style="">Hai</h2>
                <h2 ng-show="dataUser.name" style="">Hai {{dataUser.name}},</h2>
                <p>Kamu lapar? Mau makan apa hari ini?</p>
               
                <p ng-show="lokasiUser" style="color: orangered;"><i class="icon ion-ios-location" style="padding-right:5px"></i>{{lokasiUser}}</p>
                <p ng-click="greeting()" ng-show="!lokasiUser" style="color: orangered;"><i class="icon ion-ios-location" style="padding-right:5px"></i>Lokasi tidak ditemukan</p>
            </div>
        </div>
    </div>

    <div class="item item-divider mangan-item-divider"></div>

        <!-- Kategori    -->
        <ion-item class="item-text-wrap" style="border: 0;" ng-show="showRecomendation">Favorit di {{selectedCity || 'Surakarta'}}</ion-item>

        <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="false" auto-play="true" slide-interval="6000" does-continue="true">
            <ion-slide ng-repeat="slideRestoran in slideRestorans" style="text-align: left;">
                <div class="row gallery">
                    <div class="mangan-jelajah-tile col col-33" ng-repeat="restoran in slideRestoran" ng-click="openRestoran(restoran.index)" ion-ripple>
                            <img ng-src="{{restoran.imgRec}}" class="mangan-image-jelajah">
                            <div class="item item-text-wrap col" style="position:relative; border:0;" ion-ripple>
                                <h3>{{restoran.namaResto}}</h3>
                                <p>{{restoran.keteranganBuka}}</p>
                            </div>
                    </div>
                </div>
            </ion-slide>
        </ion-slide-box>

        <div class="item item-icon-right mangan-text" ng-show="showRecomendation" ng-click="openAll()" style="border-bottom:0;" ion-ripple>
           <p>Lihat Semua Kuliner <i class="icon mangan-right-icon ion-ios-arrow-right"></i></p>
        </div>

        <div class="item item-divider mangan-item-divider" ng-show="showRecomendation"></div>

        <!-- Rekomendasi -->
        <ion-item class="item-text-wrap" style="border: 0;">Rekomendasi Untuk Kamu</ion-item>
        <div class="row gallery" ion-ripple>
            <div class="mangan-jelajah-tile col col-50" ion-ripple>
                    <img src="img/terbaru.jpg" class="mangan-image-jelajah">
                </a>
            </div>
            <div class="item item-text-wrap mangan-jelajah-tile col col-50" ui-sref="tabsController.restorans({category: 'terbaru', 'name': 'Terbaru'})" style="border: 0;" ion-ripple>
                <h3>Baru Diulas</h3>
                <p>Temukan kuliner yang baru kami ulas disini</p>
            </div>
        </div>

         <div class="row gallery" ng-show="category.delivery" ion-ripple>
            <div class="mangan-jelajah-tile col col-50" ion-ripple>
                <a ui-sref="tabsController.restorans({category: 'delivery', 'name': 'Laper Mager'})">
                    <img src="img/delivery.jpg" class="mangan-image-jelajah">
                </a>
            </div>
            <div class="item item-text-wrap mangan-jelajah-tile col col-50" ui-sref="tabsController.restorans({category: 'delivery', 'name': 'Laper Mager'})" style="border: 0;" ion-ripple>
                <h3>Laper Mager</h3>
                <p>Laper tapi mager? tenang, kumpulan kuliner ini bisa kamu pesan untuk diantar ke rumah</p>
            </div>
        </div>

        <div class="row gallery" ng-show="category.kampusuns" ion-ripple>
            <div class="mangan-jelajah-tile col col-50" ion-ripple>
                <a ui-sref="tabsController.restorans({category: 'kampusuns', name: 'Sekitar Kampus'})">
                    <!-- <div class="mangan-kategori">SEKITAR KAMPUS</div> -->
                    <img src="img/kampus.jpg" class="mangan-image-jelajah">
                </a>
            </div>
            <div class="item item-text-wrap mangan-jelajah-tile col col-50" ui-sref="tabsController.restorans({category: 'kampusuns', name: 'Sekitar Kampus'})" style="border: 0;" ion-ripple>
                <h3>Ala Mahasiswa</h3>
                <p>Kumpulan kuliner dekat kampus dan murah cuma disini nih</p>
            </div>
        </div>

        <!-- Slider Dinamis -->
        <ion-slides ng-show="sliders || sliders.length > 0" options="sliderOptions" class="row mangan-slider-ads">
            <ion-slide-page ng-repeat="slider in sliders" ng-click="gotoURL(slider.index, slider.linkUrl, slider.tel)" on-swipe-left="next()" on-swipe-right="previous()" ion-ripple>
                <img ng-src="{{ image[$index] }}">
            </ion-slide-page>
        </ion-slides>

        <div class="item item-divider mangan-item-divider"></div>

        <!-- Kategori    -->

        <ion-item class="item-text-wrap" style="border: 0;">Kategori</ion-item>
        <div class="row gallery">
            <div class="mangan-image-category col col-50" style="position:relative;" ng-show="category.indonesia" ion-ripple>
                <a ui-sref="tabsController.restorans({category: 'indonesia', 'name': 'Khas Indonesia'})">
                    <h3>KHAS INDONESIA</h3>
                    <img src="img/indonesia.jpg">
                </a>
            </div>
            <div class="mangan-image-category col col-50" style="position:relative; width:100%;" ng-show="category.baksoSupMie" ion-ripple>
                <a ui-sref="tabsController.restorans({category: 'baksoSupMie', 'name': 'Bakso, Sup & Mie'})">
                    <h3>BAKSO, SUP & MIE</h3>
                    <img src="img/noodle.jpg">
                </a>
            </div>
            <div class="mangan-image-category col col-50" style="position:relative;" ng-show="category.cakeDessert" ion-ripple>
                <a ui-sref="tabsController.restorans({category: 'cakeDessert', 'name': 'Cake & Dessert'})">
                    <h3>CAKE & DESSERT</h3>
                    <img src="img/cake.jpg">
                </a>
            </div>
            <div class="mangan-image-category col col-50" style="position:relative; width:100%;" ng-show="category.minumanEskrim" ion-ripple>
                <a ui-sref="tabsController.restorans({category: 'minumanEskrim', 'name': 'ES & Minuman Segar'})">
                    <h3>ES & MINUMAN SEGAR</h3>
                    <img src="img/minumanes.jpg">
                </a>
            </div>
            <div class="mangan-image-category col col-50" style="position:relative;" ng-show="category.steakSosis" ion-ripple>
                <a ui-sref="tabsController.restorans({category: 'steakSosis', 'name': 'Steak & Sosis'})">
                    <h3>STEAK & SOSIS</h3>
                    <img src="img/steak.jpg">
                </a>
            </div>
            <div class="mangan-image-category col col-50" style="position:relative; width:100%;" ng-show="category.cepatsaji" ion-ripple>
                <a ui-sref="tabsController.restorans({category: 'cepatsaji', 'name': 'Cepat Saji'})">
                    <h3>CEPAT SAJI</h3>
                    <img src="img/cepatsaji.jpg">
                </a>
            </div>
            <div class="mangan-image-category col col-50" style="position:relative; width:100%;" ng-show="category.cafeResto" ion-ripple>
                <a ui-sref="tabsController.restorans({category: 'cafeResto', 'name': 'Cafe & Resto'})">
                    <h3>CAFE & RESTO</h3>
                    <img src="img/caferesto.jpg">
                </a>
            </div>
            <div class="mangan-image-category col col-50" style="position:relative;" ng-show="category.asian" ion-ripple>
                <a ui-sref="tabsController.restorans({category: 'asian', 'name': 'Asian Food'})">
                    <h3>ASIAN FOOD</h3>
                    <img src="img/asian.jpg">
                </a>
            </div>
            <div class="mangan-image-category col col-50" style="position:relative;" ng-show="category.western" ion-ripple>
                <a ui-sref="tabsController.restorans({category: 'western', 'name': 'Western Food'})">
                    <h3>WESTERN FOOD</h3>
                    <img src="img/western.jpg">
                </a>
            </div>
            <div class="mangan-image-category col col-50" style="position:relative;" ng-show="category.streetFood" ion-ripple>
                <a ui-sref="tabsController.restorans({category: 'streetFood', 'name': 'Street Food'})">
                    <h3>STREET FOOD</h3>
                    <img src="img/streetfood.jpg">
                </a>
            </div>
            <div class="mangan-image-category col col-50" style="position:relative;" ng-show="category.oleholeh" ion-ripple>
                <a ui-sref="tabsController.restorans({category: 'oleholeh', 'name': 'Oleh-oleh'})">
                    <h3>OLEH-OLEH</h3>
                    <img src="img/oleholeh.jpg">
                </a>
            </div>
            <div class="mangan-image-category col col-50" style="position:relative;" ng-show="category.wedangan" ion-ripple>
                <a ui-sref="tabsController.restorans({category: 'wedangan', 'name': 'Wedangan'})">
                    <h3>WEDANGAN</h3>
                    <img src="img/wedangan.jpg">
                </a>
            </div>
        </div>
        <div class="item item-divider mangan-item-divider"></div>
        <div class="item item-text-wrap">
            <p style="text-align: center; border:0;">Berikan Rekomendasi atau Daftarkan Usaha Kulinermu</p>
        </div>
        <div class="row list">
            <div class="col item item-text-wrap" id="mangan-button-rekomendasi">
                <button class="button button-small button-oren button-clear" style="width: 100%;" ng-click="rekomendasikan()" ion-ripple>REKOMENDASIKAN</button>
            </div>
            <div class="col item item-text-wrap" id="mangan-button-daftar">
                <button class="button button-small  button-oren button-clear" style="width: 100%;" ng-click="daftar()" ion-ripple>DAFTAR KULINER</button>
            </div>
        </div>
    </ion-content>

</ion-view>