<ion-view title="Jelajah" hide-back-button="true" id="page2">
    <ion-content padding="false" overflow-scroll="false" class="has-header">
        <form class="list" ng-submit="searchQuery()" style="background-color: rgb(1, 178, 177); margin-bottom: 0px">
            <label class="item item-input" name="Pencarian" style="border: 5px solid rgb(1, 178, 177); padding: 0; border-right: 6px solid rgb(1, 178, 177); border-left: 6px solid rgb(1, 178, 177); border-radius: 12px;">
                <div style="min-height: 37px; min-width: 37px; background-color: rgb(230, 231, 232); text-align:center; margin-right: 10px;">
                    <i class="icon ion-search placeholder-icon" style="font-size: 20px; line-height: 40px;"></i>
                </div>
                <input type="search" placeholder="Cari" ng-model="user.query" style="font-size: 14px;" ion-ripple>
            </label>
        </form>
        <!-- If transaksi done, ng-hide -->
        <div class="list" style="" ng-click="transaksi()">
            <div class="item mangan-menu item-text-wrap item-icon-right" style="background-color: #ff6a32;" ng-show="queue.length > 0 || process.length > 0" ion-ripple>
                <p style="color:white; font-weight: 300" ng-show="queue.length > 0">{{queue.length}} Pesanan sedang dalam queue</p>
                <p style="color:white; font-weight: 300" ng-show="process.length > 0">{{process.length}} Pesanan sedang dalam process</p>
                <i class="icon ion-ios-arrow-right" style="font-size: 30px; color: white;"></i>
            </div>
        </div>

        <div class="list" style="">
            <div class="item item-text-wrap item-thumbnail-right mangan-menu" style="border: none; margin:10px 15px 0 15px;">
                <img class="mangan-greeting-gambar" ng-src="{{dataUser.photoUrl}}">
                <h2 ng-show="!dataUser.name" style="font-size: 24px; color: rgb(1,177,178);">Halo Foodies</h2>
                <h2 ng-show="dataUser.name" style="font-size: 24px; color: rgb(1,177,178);">Halo {{dataUser.name}}</h2>
                <p style="font-size: 16px;">Kamu lapar? Mau makan apa hari ini?</p>
                <!-- Kalo diklik masuk ke map terdekat dari lokasi user-->
                <p ng-show="lokasiUser" style="color: orangered; text-decoration: none;"><i class="icon ion-ios-location" style="padding-right:5px"></i>{{lokasiUser}}</p>
                <p ng-click="greeting()" ng-show="!lokasiUser" style="color: orangered; text-decoration: none;"><i class="icon ion-ios-location" style="padding-right:5px"></i>Lokasi tidak ditemukan</p>
            </div>
            <div style="width: 100%; margin-bottom: 10px; padding-left: 25px;">
                <button ui-sref="tabsController.restorans({category: 'all', 'name': 'Terbaru'})" id="mangan-button-pesan" class="button button-oren button-small button-outline" ng-click="pesan()" style="width:30%; margin: 0 2px;" ion-ripple>JELAJAHI</button>
                <button ng-show="!dataUser || dataUser == null" ui-sref="login" class="button button-oren button-small" style="width:30%;" ion-ripple>LOGIN</button> 
            </div>
        </div>
      
        <div class="list mangan-menu" ng-hide="true">
          <label class="item item-input item-select" style="">
            <div class="input-label">
              Lihat Kota Lain
            </div>
            <select ng-model="selectedCity" ng-change="pilihKota(selectedCity)" style="">
              <option>Surakarta</option>
              <option>Yogyakarta</option>
            </select>
          </label>
        </div>

        <!-- Kategori    -->
        <div style="border-bottom: 1px solid rgba(230, 231, 232, 0.8)">
            <h4 style="background: white; padding-left: 10px; width: 100%; margin: 15px 0; color: rgb(1,177,178);">REKOMENDASI UNTUK KAMU</h4>
        </div>

        <div class="row gallery" style="margin-bottom: 10px;" ion-ripple>
            <div class="jelajah-tile col col-50" style="position:relative;" ion-ripple>
                <a ui-sref="tabsController.restorans({category: 'terbaru', 'name': 'Terbaru'})">
                    <!-- <div class="mangan-kategori">TERBARU</div> -->
                    <img src="img/terbaru.jpg" class="mangan-image-jelajah">
                </a>
            </div>
            <div class="jelajah-tile col col-50 mangan-menu" style="position:relative;" ui-sref="tabsController.restorans({category: 'terbaru', 'name': 'Terbaru'})" ion-ripple>
                <h4 style="color: orangered; margin: 0; padding: 0; ">BARU DIULAS</h4>
                <p>Temukan kuliner yang baru kami ulas disini</p>
            </div>
        </div>

         <div class="row gallery" style="margin-bottom: 10px;" ion-ripple>
            <div class="jelajah-tile col col-50" style="position:relative;" ion-ripple>
                <a ui-sref="tabsController.restorans({category: 'all', 'name': 'Semua Kuliner'})">
                    <!-- <div class="mangan-kategori">FOOD DELIVERY</div> -->
                    <img src="img/delivery.jpg" class="mangan-image-jelajah">
                </a>
            </div>
            <div class="jelajah-tile col col-50 mangan-menu" style="position:relative;" ui-sref="tabsController.restorans({category: 'delivery', 'name': 'Laper Mager'})" ion-ripple>
                <h4 style="color: orangered; margin: 0; padding: 0; ">LAPER MAGER</h4>
                <p>Laper tapi mager? tenang, kumpulan kuliner ini bisa kamu pesan untuk diantar ke rumah</p>
            </div>
        </div>
        <div class="row gallery" style="margin-bottom: 10px;" ion-ripple>
            <div class="col col-50" style="position:relative; width:100%;" ion-ripple>
                <a ui-sref="tabsController.restorans({category: 'kampusuns', name: 'Sekitar Kampus'})">
                    <!-- <div class="mangan-kategori">SEKITAR KAMPUS</div> -->
                    <img src="img/kampus.jpg" class="mangan-image-jelajah">
                </a>
            </div>
            <div class="jelajah-tile col col-50 mangan-menu" style="position:relative;" ui-sref="tabsController.restorans({category: 'kampusuns', name: 'Sekitar Kampus'})" ion-ripple>
                <h4 style="color: orangered; margin: 0; padding: 0; ">ALA MAHASISWA</h4>
                <p>Kumpulan kuliner dekat kampus dan murah cuma disini nih</p>
            </div>
        </div>
        <div class="row gallery" style="border-bottom: 1px solid rgba(230, 231, 232, 0.8); margin-bottom: 10px;" ion-ripple>
            <div class="jelajah-tile col col-50" style="position:relative;" ion-ripple>
                <a ui-sref="tabsController.restorans({category: 'all', 'name': 'Semua Kuliner'})">
                    <!-- <div class="mangan-kategori">SEMUA KULINER</div> -->
                    <img src="img/semua.jpg" class="mangan-image-jelajah">
                </a>
            </div>
            <div class="jelajah-tile col col-50 mangan-menu" style="position:relative;" ui-sref="tabsController.restorans({category: 'all', 'name': 'Semua Kuliner'})" ion-ripple>
                <h4 style="color: orangered; margin: 0; padding: 0; ">JELAJAHI SEMUA</h4>
                <p>Jelajahi semua kuliner kotamu disini</p>
            </div>
        </div>
       

<!--             <div class="col col-50" style="position:relative; width:100%;">
                <a ui-sref="tabsController.terdekat">
                    <div class="mangan-kategori">KULINER TERDEKAT</div>
                    <img src="img/terdekat.jpg" class="mangan-image-jelajah">
                </a>
            </div> -->

        <!-- <h4 style="background: rgba(0,0,0,0.2); padding: 5px; width: 100%; margin: 0;" >Informasi</h4> -->

        <!-- <div class="row">
            
            <div class="col col-50" style="position:relative;">
                <a ui-sref="tabsController.restorans({category: 'all'})">
                    <div class="mangan-kategori">OLEH-OLEH</div>
                    <img src="img/oleholeh.jpg" width="100%">
                </a>
            </div>
       
        </div> -->

<!--         <ion-slides options="options" class="row" style="width: 100%; padding: 0; height: 125px; margin-bottom: 0px">
            <ion-slide-page>
                <img src="img/slider4.jpg" style="width: 100%; display: block;">
            </ion-slide-page>
            <ion-slide-page>
                <img src="img/slider5.jpg" style="width: 100%; display: block;">
            </ion-slide-page>
            <ion-slide-page>
                <img src="img/slider3.jpg" style="width: 100%; display: block;">
            </ion-slide-page>
            <ion-slide-page>
                <img src="img/slider2.jpg" style="width: 100%; display: block;">
            </ion-slide-page>
            <ion-slide-page>
                <img src="img/slider1.jpg" style="width: 100%; display: block;">
            </ion-slide-page>
        </ion-slides> -->

        <!-- Slider Dinamis -->
        <ion-slides ng-show="sliders || sliders.length > 0" options="options" class="row" style="width: 100%; padding: 0; height: 125px; margin-bottom: 0px">
            <ion-slide-page ng-repeat="slider in sliders">
                <img ng-src="{{ slider.url }}" style="width: 100%; display: block;" ng-click="gotoURL(slider.linkUrl)">
            </ion-slide-page>
        </ion-slides>
                <div class="list">
                  <div class="item item-divider" style="background-color: #3498db">
                    <p style="text-align: right; color: white;">Click slider to see more <i class="icon ion-chevron-right"></i> </p>
                  </div>
                </div>

        <!-- Kategori    -->
        <div style="border-bottom: 1px solid rgba(230, 231, 232, 0.8)">
            <h4 style="background: white; padding-left: 10px; width: 100%; margin: 15px 0; color: rgb(1,177,178);">BY CATEGORY</h4>
        </div>

        <div class="row gallery">
<!--             <div class="jelajah-tile col col-50" style="position:relative;" ng-hide="category.kode == 'kampusuns'" ng-repeat="category in categories">
                <a ui-sref="tabsController.restorans({'category': category.kode, 'name': category.nama})">
                    <div class="mangan-kategori">{{category.nama | uppercase}}</div>
                    <img ng-src="{{category.gambar}}" class="mangan-image-jelajah">
                </a>
            </div> -->
            <div class="jelajah-tile col col-50" style="position:relative;" ion-ripple>
                <a ui-sref="tabsController.restorans({category: 'indonesia', 'name': 'Khas Indonesia'})">
                    <div class="mangan-kategori">KHAS INDONESIA</div>
                    <img src="img/indonesia.jpg" class="mangan-image-jelajah">
                </a>
            </div>
            <div class="col col-50" style="position:relative; width:100%;" ion-ripple>
                <a ui-sref="tabsController.restorans({category: 'baksoSupMie', 'name': 'Bakso, Sup & Mie'})">
                    <div class="mangan-kategori">BAKSO, SUP & MIE</div>
                    <img src="img/noodle.jpg" class="mangan-image-jelajah">
                </a>
            </div>
        </div>
        <div class="row gallery">
            <div class="jelajah-tile col col-50" style="position:relative;" ion-ripple>
                <a ui-sref="tabsController.restorans({category: 'cakeDessert', 'name': 'Cake & Dessert'})">
                    <div class="mangan-kategori">CAKE & DESSERT</div>
                    <img src="img/cake.jpg" class="mangan-image-jelajah">
                </a>
            </div>
            <div class="col col-50" style="position:relative; width:100%;" ion-ripple>
                <a ui-sref="tabsController.restorans({category: 'minumanEskrim', 'name': 'ES & Minuman Segar'})">
                    <div class="mangan-kategori">ES & MINUMAN SEGAR</div>
                    <img src="img/minumanes.jpg" class="mangan-image-jelajah">
                </a>
            </div>
        </div>
        <div class="row gallery">
            <div class="jelajah-tile col col-50" style="position:relative;" ion-ripple>
                <a ui-sref="tabsController.restorans({category: 'steakSosis', 'name': 'Steak & Sosis'})">
                    <div class="mangan-kategori">STEAK & SOSIS</div>
                    <img src="img/steak.jpg" class="mangan-image-jelajah">
                </a>
            </div>
            <div class="col col-50" style="position:relative; width:100%;" ion-ripple>
                <a ui-sref="tabsController.restorans({category: 'cepatsaji', 'name': 'Cepat Saji'})">
                    <div class="mangan-kategori">CEPAT SAJI</div>
                    <img src="img/cepatsaji.jpg" class="mangan-image-jelajah">
                </a>
            </div>
        </div>
        <div class="row gallery">
            <div class="col col-50" style="position:relative; width:100%;">
                <a ui-sref="tabsController.restorans({category: 'cafeResto', 'name': 'Cafe & Resto'})">
                    <div class="mangan-kategori">CAFE & RESTO</div ion-ripple>
                    <img src="img/caferesto.jpg" class="mangan-image-jelajah">
                </a>
            </div>
            <div class="jelajah-tile col col-50" style="position:relative;" ion-ripple>
                <a ui-sref="tabsController.restorans({category: 'asian', 'name': 'Asian Food'})">
                    <div class="mangan-kategori">ASIAN FOOD</div>
                    <img src="img/asian.jpg" class="mangan-image-jelajah">
                </a>
            </div>
        </div>
        <div class="row gallery">
            <div class="jelajah-tile col col-50" style="position:relative;" ion-ripple>
                <a ui-sref="tabsController.restorans({category: 'western', 'name': 'Western Food'})">
                    <div class="mangan-kategori">WESTERN FOOD</div>
                    <img src="img/western.jpg" class="mangan-image-jelajah">
                </a>
            </div>
            <div class="jelajah-tile col col-50" style="position:relative;" ion-ripple>
                <a ui-sref="tabsController.restorans({category: 'streetFood', 'name': 'Street Food'})">
                    <div class="mangan-kategori">STREET FOOD</div>
                    <img src="img/streetfood.jpg" class="mangan-image-jelajah">
                </a>
            </div>
        </div>
        <div class="row gallery">
            <div class="jelajah-tile col col-50" style="position:relative;" ion-ripple>
                <a ui-sref="tabsController.restorans({category: 'oleholeh', 'name': 'Oleh-oleh'})">
                    <div class="mangan-kategori">OLEH-OLEH</div>
                    <img src="img/oleholeh.jpg" class="mangan-image-jelajah">
                </a>
            </div>
            <div class="jelajah-tile col col-50" style="position:relative;" ion-ripple>
                <a ui-sref="tabsController.restorans({category: 'wedangan', 'name': 'Wedangan'})">
                    <div class="mangan-kategori">WEDANGAN</div>
                    <img src="img/wedangan.jpg" class="mangan-image-jelajah">
                </a>
            </div>
        </div>

<!--         <div class="mangan-menu-selengkapnya">
            <button id="button-rekomendasi" class="button button-positive button-small" ng-click="rekomendasikan()" ion-ripple>REKOMENDASIKAN</button>
            <button id="button-daftar" class="button button-positive button-small" ng-click="daftar()" ion-ripple>PENDAFTARAN</button>
        </div> -->
        <div class="mangan-bottom">
            <div style="border-bottom: 1px solid rgba(230, 231, 232, 0.8)">
                <h5 style="font-weight: 300; background: white; padding-left: 10px; width: 100%;">Tidak menemukan yang kamu sukai?</h5>
            </div>
            <button id="button-rekomendasi" class="button button-block button-oren button-outline" ng-click="rekomendasikan()" ion-ripple>REKOMENDASIKAN</button>
        </div>

        <div class="mangan-bottom">
            <div style="border-bottom: 1px solid rgba(230, 231, 232, 0.8)">
                <h5 style="font-weight: 300; background: white; padding-left: 10px; width: 100%;">Punya usaha kuliner?</h5>
            </div>
            <button id="button-daftar" class="button button-block button-oren button-outline" ng-click="daftar()" ion-ripple>DAFTAR KULINER</button>
        </div>
        <!-- <div class="row" style="width: 100%; padding: 0;"> -->
        <!-- ion slides awal -->

        <!-- </div> -->
    </ion-content>
</ion-view>