<ion-view title="Kota" hide-nav-bar="true" id="kota-page" class="">
    <ion-content style="width: 100%" scroll="false">
        <!-- <div class="row responsive-lg mangan-menu" style="padding:0; margin:0;"> -->
            <div class="list" style="height:50%; margin-bottom:0; padding:0; background-color: #000000;" ng-click="pilihKota('Surakarta')" ion-ripple>
                <div style="position: absolute; z-index: 9999; text-align:center; top: 100px;">
                            <h2 style="color: white;">Surakarta</h2>
                            <p style="color: white;">
                                Temukan Berbagai Macam Kuliner Khas Kota Solo. Solo the Spirit of Java.
                            </p>
                </div>
                <img src="img/solo.jpg" style="height: 100%; width: 100%; opacity: 0.5">
            </div>

            <div class="list" style="height:50%; margin-bottom:0; padding:0; background-color: #000000;" ng-click="pilihKota('Yogyakarta')" ion-ripple>
                <div style="position: absolute; z-index: 9999; text-align:center; top: 100px;">
                        <h2 style="color: white;">Yogyakarta</h2>
                        <p style="color: white;">
                            Jalajahi Kuliner Istimewa dengan Kearifan dan Keistimewaan Yogyakarta. Karena Jogja Begitu Istimewa.
                        </p>
                </div>
                <img src="img/jogja.jpg" style="height: 100%; width: 100%; opacity: 0.5">
            </div>
    </ion-content>
</ion-view>