<ion-view hide-nav-bar="true" hide-back-button="true" id="login-page" cache-view="false" class="login">
    <ion-content padding="false" scroll="false">
        <div class="top-content row">
            <div class="app-copy col col-top">
                <img src="img/manganstd.png" width="40%">
                <h1 class="app-logo">MANGAN</h1>
                <p class="app-tagline">
                    Bergabung untuk memesan, berkomentar dan memberikan ulasan untuk kamu bagikan kepada orang lain
                </p>
            </div>
        </div>
        <div class="bottom-content row">
            <div class="col col-bottom">
                <button class="google-sign-in button button-block" ng-click="googlelogin()" style="background-color: #DD4B39">
                    <i class="ion-social-google" style="margin-right: 10px;"></i>Log in with Google
                </button>
                <button class="facebook-sign-in button button-block" ng-click="fblogin()">
                    <i class="ion-social-facebook" style="margin-right: 10px;"></i>Log in with Facebook
                </button>
                <!-- <a ui-sref="tabsController.order" id="login-button1" class="facebook-sign-in button button-block"><i class="ion-social-facebook" style="margin-right: 10px;"></i>Log in with Facebook</a> -->
            </div>
        </div>
    </ion-content>
</ion-view>