<!-- <div class="mangan-modal-container"> -->
	<ion-modal-view>
		<ion-header-bar class="bar bar-header bar-balanced">
			<h1 class="title">Pilih Lokasi</h1>
			<!-- <button class="button button-primary" ng-click="maps.hide()"><span class="icon ion-close"></span></button> -->
		</ion-header-bar>

		<ion-content lazy-scroll has-header="true" padding="true" id="mangan-peta" map>
<!-- 			<div class="mangan-container">
	            <div id="mangan-peta" style="height: 480px" map>
	            	
	            </div>
	        </div> -->
		</ion-content>
		<ion-footer-bar align-title="center" class="bar-balanced">       
            <button class="button button-small" ng-click="maps.hide()" style="margin: auto;" ion-ripple><i class="icon ion-ios-location"></i> Gunakan Lokasi</button>
		</ion-footer-bar>
	</ion-modal-view>
<!-- </div> -->