<!-- <div class="mangan-modal-container"> -->
	<ion-modal-view>
		<ion-header-bar class="bar bar-header bar-balanced">
			<h1 class="title">Pilih Lokasi</h1>
			<!-- <button class="button button-primary" ng-click="maps.hide()"><span class="icon ion-close"></span></button> -->
		</ion-header-bar>
		<ion-content lazy-scroll has-header="true" padding="true" class="has-footer">
	        <div class="list list-inset" ng-submit="searchQuery()" style="margin-top: 5px; margin-bottom: 5px">
	            <label class="item item-input" name="Pencarian" style="padding: 0; border-radius: 5px;">
	                <div style="min-height: 37px; min-width: 37px; background-color: #f2f3f3; text-align:center; margin-right: 10px;">
	                    <i class="icon ion-ios-search placeholder-icon" style="font-size: 20px; line-height: 40px;"></i>
	                </div>
	                 <input id="pac-input" type="text" placeholder="Cari Lokasi" style="font-size: 14px;" data-tap-disabled="true" ng-model="search" ng-change='disableTap()'>
	            </label>
        	</div>

            <div id="mangan-peta" data-tap-disabled="true">
            	
            </div>
		</ion-content>

		 <button class="button button-full button-balanced" ng-click="maps.hide()" style="position:fixed; border-top-right-radius:0px; border-top-left-radius:0px;border-bottom-right-radius:0px;border-bottom-left-radius:0px;margin-bottom:0px; bottom:0px;left:0px;right:0px;" ion-ripple><i class="icon ion-ios-location"></i> Gunakan Lokasi</button>

		<!-- <ion-footer-bar align-title="center" class="bar-balanced">       
            <button class="button button-small" ng-click="maps.hide()" style="margin: auto;" ion-ripple><i class="icon ion-ios-location"></i> Gunakan Lokasi</button>
		</ion-footer-bar> -->
	</ion-modal-view>
<!-- </div> -->