<ion-view title="Menu" id="page4">
    <ion-content padding="true" class="has-header">
        <ion-list>

            <ion-item class="mangan-menu item-thumbnail-left assertive" style="border: 5px solid rgb(230,231,232);" ng-repeat="menu in menus">
                <img src="img/U9JxNAdRoujELS74q83z_selat_solo.jpg" style="margin-top: -5px;">
                    <!-- <span class="mangan-label-menumakanan">Rp 15000</span> -->
                <h2>{{menu.namaMenu}}</h2>
                <h3>{{menu.harga | currency:'Rp ':2}}</h3>
                <span class="mangan-tag-menumakanan">Khas</span>

                <span style="float:right;padding-right:5px;margin-top:-25px;">
                    <button class="mangan-button-menumakanan" ng-click="openMenu( {{ $index }} )">
                        <i class="icon ion-eye assertive" style="font-size: 20px;"></i>
                    </button>
                </span>
                    <!-- <p style="font-size: 12px; white-space:normal;">Rp 10000</p> -->
                  <!--   <label class="item item-input" style="height: 30px; width: 100px;">
                        <span class="input-label" style="font-size: 12px;">Jumlah</span>
                          <input type="number" style="font-size: 12px;" min="0">
                    </label>  -->
            </ion-item>
            
        </ion-list>

        <div class="mangan-menu-selengkapnya">
            <button class="button button-positive button-small">PESAN</button>
        </div>
    </ion-content>
</ion-view>