<ion-view title="Ulasan Menu" id="ulasanMenu">
    <ion-content lazy-scroll padding="true" class="has-header">
        <!-- content -->
            <img ng-src="{{selectedMenu.reviewGambar}}" class="mangan-image-4_3">
            <div class="list" ng-show="selectedMenu.review">
                <div class="item item-avatar item-icon-right" style="border: 0px; padding-bottom:0px; background-color:rgb(1,177,178);">
                    <img class="mangan-ulasan-resto" src="{{selectedMenu.reviewer.foto}}">
                    <h2 style="color: white; font-weight: bold;">{{ selectedMenu.reviewer.nama }}</h2>
                    <p style="color: white;">Diulas oleh team MANGAN</p>
                        <!-- <button class="mangan-tombol-aksi">
                            <i class="icon ion-android-share-alt" style="color: white; font-size: 25px;"></i>
                        </button> -->
                    <!-- <p>Diulas pada 8 Agustus</p> -->
                </div>
                <div class="mangan-keterangan item-body">
                    <div class="mangan-review-title">
                        {{ selectedMenu.namaMenu }}
                        <!-- <span class="mangan-tag-review mangan-tag-menumakanan">Khas</span> -->
                    </div>
                    <h5 style="color: rgb(1,177,178);">{{ selectedMenu.harga | currency:'Rp ':2 }}</h5>
                    <div class="mangan-keterangan-teks" ng-bind-html="selectedMenu.review">
                        <!-- {{ selectedMenu.review }} -->
                    </div>
                </div>
                <div class="mangan-ulasan-menu">
                </div>
            </div>
    </ion-content>
</ion-view>