<ion-view title="Menu" id="page4">
    <ion-content lazy-scroll padding="true" class="has-header">
        <ion-refresher
            pulling-text="Lepas untuk memperbarui"
            on-refresh="getMenus()"
            spinner = "ripple" >
        </ion-refresher>
        <ion-list>

            <ion-item class="mangan-menu item-thumbnail-left assertive" style="border: 5px solid rgb(230,231,232);" ng-repeat="menu in menus" ng-click="openMenu( {{ $index }} )" ion-ripple>
                <img image-lazy-src="{{ menu.gambar }}" class="mangan-image-1_1" image-lazy-distance-from-bottom-to-load="50">
                    <h2>{{menu.namaMenu}}</h2>
                    <h3>{{menu.harga | currency:'Rp ':2}}</h3>
                <!-- <span class="mangan-tag-menumakanan">Khas</span> -->

                    <span class="mangan-menu-review" ng-show="menu.review && menu.review != 'null'">
                        <!-- <button class="mangan-button-menumakanan" ng-click="openMenu( {{ $index }} )"> -->
                            <!-- <i class="icon ion-eye assertive" style="font-size: 20px;"></i> -->
                            <i class="icon ion-ios-arrow-right" style="font-size: 40px; color: rgb(1,177,178); opacity: 0.5; "></i>
                        <!-- </button> -->
                    </span>
                    <!-- <p style="font-size: 12px; white-space:normal;">Rp 10000</p> -->
                  <!--   <label class="item item-input" style="height: 30px; width: 100px;">
                        <span class="input-label" style="font-size: 12px;">Jumlah</span>
                          <input type="number" style="font-size: 12px;" min="0">
                    </label>  -->
            </ion-item>
            
        </ion-list>

        <div class="mangan-menu-selengkapnya">
            <button class="button button-positive button-small" ng-click="pesan()" ion-ripple>PESAN</button>
        </div>
    </ion-content>
</ion-view>