<ion-view id="page3">
    <ion-nav-title>{{category}}</ion-nav-title>
    <ion-content lazy-scroll padding="false" class="has-header">
        <form class="list" ng-submit="searchQuery()" ng-show="category === 'Pencarian'" style="background-color: rgb(1, 178, 177); margin-bottom: 10px">
            <label class="item item-input" name="Pencarian" style="border: 5px solid rgb(1, 178, 177); padding: 0; border-right: 6px solid rgb(1, 178, 177); border-left: 6px solid rgb(1, 178, 177); border-radius: 12px;">
                <div style="min-height: 37px; min-width: 37px; background-color: rgb(230, 231, 232); text-align:center; margin-right: 10px;">
                    <i class="icon ion-search placeholder-icon" style="font-size: 20px; line-height: 40px;"></i>
                </div>
                <input type="search" placeholder="Cari" ng-model="user.query" style="font-size: 14px;">
            </label>
        </form>
    <!-- {{restorans.length}} -->
    <div ng-hide="restorans || restorans.length > 0" class="mangan-nodata">
        <center><i class="ion-sad-outline"></i></center>
        <p>Ups, Sepertinya Belum Ada Kuliner Disini</p>
    </div>
    
        <div class="list card" ng-repeat="restoran in restorans track by $index" ng-show="restoran.keteranganResto && restoran.keteranganResto != 'null'">
            <div class="mangan-list-header">
                <div class="row mangan-nama-resto">
                    <span class="col col-75">{{restoran.namaResto}}</span>
                    <span class="col mangan-rating-nilai" ng-show="restoran.rating && restoran.rating != 'null'">{{restoran.rating}}
                        <i class="mangan-rating-icon icon ion-star" style="color:yellow; font-size: 20px;"></i>
                    </span>
                </div>
                <img image-lazy-src="{{restoran.gambar[0]}}" class="mangan-image-4_3" image-lazy-distance-from-bottom-to-load="50">
            </div>
            <div class="mangan-keterangan item-body">
                <div class="mangan-keterangan-buka" ng-show="restoran.keteranganBuka && restoran.keteranganBuka != 'null'">{{restoran.keteranganBuka}}</div>
                <div class="mangan-keterangan-teks" ng-bind-html="restoran.keteranganResto"></div>
            </div>
            
            <div class="row mangan-selengkapnya">
                <span class="col col-75" style="padding:0;margin-top: 3px;">
                    <a ui-sref="tabsController.restoran({index: restoran.index})" id="tersimpan-button18" class="button button-positive button-small">SELENGKAPNYA</a>
                </span>
                <span class="col" style="padding:0;">
                    <button class="mangan-tombol-aksi" ng-click="shareRestoran($index)">
                        <i class="mangan-icon icon ion-android-share-alt"></i>
                    </button>
                </span>
                <span ng-if="checkSavedRestoran(restoran.index) == true" class="col" style="padding:0;">
                    <button class="mangan-tombol-aksi" ng-click="saveRestoran(restoran.index)">
                        <i class="mangan-icon icon ion-heart" style="color:red;"></i>
                    </button>
                </span>
                <span ng-if="checkSavedRestoran(restoran.index) == false" class="col" style="padding:0;">
                    <button class="mangan-tombol-aksi" ng-click="saveRestoran(restoran.index)">
                        <i class="mangan-icon icon ion-heart" style="color:white;"></i>
                    </button>
                </span>
            </div>
        </div>


    </ion-content>
</ion-view>