<ion-view title="Pesan" id="pesan">
    <ion-nav-title>{{restoran.namaResto}}</ion-nav-title>
    <ion-content lazy-scroll overflow-scroll="false" class="has-header has-footer">
        <ion-refresher
            on-refresh="getMenus()"
            spinner = "ripple" >
        </ion-refresher>
        <div class="list" style="position: relative; -webkit-backface-visibility: hidden;">

            <!-- <ion-item class="mangan-menu item-thumbnail-left assertive" style="border: 5px solid rgb(230,231,232);" ng-repeat="menu in menus" ng-click="openMenu( {{ $index }} )"> -->
            <div class="item mangan-menu item-thumbnail-left assertive item-text-wrap" ng-repeat="menu in menus" style="" ng-show="(menu.harga % 1) == 0">
                <img image-lazy-src="{{ menu.gambar }}" class="mangan-image-1_1" image-lazy-distance-from-bottom-to-load="50">
                    <h3 style="color: #4d544d;">{{menu.namaMenu}}</h3>
                    <!-- <h3>{{menu.harga | currency:'Rp ':2}}</h3> -->
                    <h3 ng-show="(menu.harga % 1) == 0">{{menu.harga | currency:'Rp ':2}}</h3>
                    <h3 ng-hide="(menu.harga % 1) == 0">{{menu.harga}}</h3>

                    <!-- <span class="mangan-menu-review" ng-show="menu.review && menu.review != 'null'">
                            <i class="icon ion-ios-arrow-right" style="font-size: 40px; color: rgb(1,177,178); opacity: 0.5; "></i>
                    </span> -->
                    <p>Jumlah : 
                        <span>
                            <button class="button mangan-button-jumlah button-oren button-outline" ng-click="minQuantity($index, menu.quantity)"><i class="ion ion-minus" style=""></i></button>
                            <span style="font-size: 16px;padding-left: 6px; padding-right: 6px;">{{menu.quantity}}</span>
                            <button class="button mangan-button-jumlah button-oren button-outline" ng-click="addQuantity($index, menu.quantity)"><i class="ion ion-plus" style="" ></i></button>
                        </span>
                    </p>
            </div>

<!--             <div class="list">
                <div class="item mangan-menu" style="border-bottom: 1px solid rgb(230,231,232); width: 100%;">
                    <label class="item-input mangan-menu" style="">
                        <i class="mangan-invoice-icon icon ion-compose" style="margin-right:5px;"></i>
                        <span class="" style="width: 100%;"><input type="text" placeholder="Tulis Pesanan Lain (Menu, jumlah, perkiraan harga)" ng-model="tambahan.catatan" style="color:orangered;"></span>
                    </label>
                </div>
            </div> -->
            
        </div>

        <!-- <div class="">
            <button class="button button-outline button-block button-oren" ng-click="invoice()" ion-ripple><i class="icon ion-ios-cart"></i> LANJUTKAN</button>
        </div> -->
    </ion-content>

        <button class="button button-full button-oren icon-right ion-chevron-right" ng-click="invoice()" style="position:fixed; border-top-right-radius:0px; border-top-left-radius:0px;border-bottom-right-radius:0px;border-bottom-left-radius:0px;margin-bottom:0px; bottom:0px;left:0px;right:0px;text-align: center; box-shadow: 0px 0px 10px 2px rgba(136,136,136,1);" ion-ripple>LANJUTKAN</button>
</ion-view>