<ion-view title="Pesan" id="pesan">
    <ion-content lazy-scroll padding="true" class="has-header">
        <ion-refresher
            on-refresh="getMenus()"
            spinner = "ripple" >
        </ion-refresher>
        <ion-list>

            <!-- <ion-item class="mangan-menu item-thumbnail-left assertive" style="border: 5px solid rgb(230,231,232);" ng-repeat="menu in menus" ng-click="openMenu( {{ $index }} )"> -->
            <ion-item class="mangan-menu item-thumbnail-left assertive" style="border: 5px solid rgb(230,231,232);" ng-repeat="menu in menus">
                <img image-lazy-src="{{ menu.gambar }}" class="mangan-image-1_1" image-lazy-distance-from-bottom-to-load="50">
                    <h2>{{menu.namaMenu}}</h2>
                    <!-- <h3>{{menu.harga | currency:'Rp ':2}}</h3> -->
                    <h3 ng-show="(menu.harga % 1) == 0">{{menu.harga | currency:'Rp ':2}}</h3>
                    <h3 ng-hide="(menu.harga % 1) == 0">{{menu.harga}}</h3>

                    <!-- <span class="mangan-menu-review" ng-show="menu.review && menu.review != 'null'">
                            <i class="icon ion-ios-arrow-right" style="font-size: 40px; color: rgb(1,177,178); opacity: 0.5; "></i>
                    </span> -->
                    <p>Jumlah : 
                        <span>
                            <button class="button mangan-button-jumlah button-oren button-outline"><i class="ion ion-minus" style=""></i></button>
                            <span style="font-size: 16px;padding-left: 6px; padding-right: 6px;">10</span>
                            <button class="button mangan-button-jumlah button-oren button-outline"><i class="ion ion-plus" style=""></i></button>
                        </span>
                    </p>
            </ion-item>
            
        </ion-list>

        <div class="">
            <button class="button button-outline button-block button-oren" ng-click="invoice()" ion-ripple><i class="icon ion-ios-cart"></i> Pesan Sekarang</button>
        </div>
    </ion-content>
</ion-view>