<div class="mangan-modal-container">
	<ion-modal-view class="mangan-modal">
		<ion-header-bar class="bar bar-header bar-balanced">
			<h1 class="title">Pilih Lokasi</h1>
			<!-- <button class="button button-primary" ng-click="maps.hide()"><span class="icon ion-close"></span></button> -->
		</ion-header-bar>

		<ion-content lazy-scroll has-header="true" padding="true">
			<ion-list>
			  <ion-item ng-click="pilihKota(kota = 'Surakarta')">
			    Solo
			  </ion-item>
			  <ion-item ng-click="pilihKota(kota = 'Yogyakarta')">
			  	Yogyakarta
			  </ion-item>
			</ion-list>
		</ion-content>
	</ion-modal-view>
</div>