<ion-view view-title="Profil" id="profil">
  <ion-content>
    <div id="content" style="position: relative;">
      <div class="mangan-card">
        <div id="profile-image">
          <center>
            <img ng-src="{{dataUser.photoUrl}}" width="30%" height="auto" style="margin-top:20px; margin-bottom: 5px; border-radius: 50%;">
          </center>
          <h3 style="text-align: center;">{{dataUser.name}}</h3>
        </div>
      </div>
      <div class="card" style="margin: 0; border-radius: 0;">
        <div class="kontak-header">
          <p>PROFIL</p>
        </div>

        <div class="item item-text-wrap mangan-menu" style="border:0;">   
          <label class="item-input mangan-menu">
            <i class="mangan-invoice-icon icon ion-ios-person"></i>
            <span class="mangan-line"><input type="text" style="font-size: 16px;" ng-model="dataUser.name"></span>
          </label>
          
          <label class="item-input mangan-menu">
            <i class="mangan-invoice-icon icon ion-ios-email"></i>
            <span class="mangan-line"><input type="text" style="font-size: 16px;" ng-model="dataUser.email" readonly></span>
          </label>
        
<!--           <label class="item-input mangan-menu">
            <i class="mangan-invoice-icon icon ion-ios-location"></i>
            <span class="mangan-line"><input type="text" style="font-size: 16px;" ng-model="dataUser.location"></span>
          </label> -->

          <!-- <label class="item-input mangan-menu" style="margin-left: 18px;"><button class="button button-small button-balanced button-clear" style="font-size: 14px;" ng-click="pickLocation()">Pilih Lokasi</button></label> -->

          <label class="item-input mangan-menu">
            <i class="mangan-invoice-icon icon ion-android-call"></i>
            <span class="mangan-line"><input type="number" style="font-size: 16px;" ng-model="dataUser.noTelpUser"></span>
          </label>

          <label class="item-input mangan-menu">
            <i class="mangan-invoice-icon icon ion-ios-chatboxes"></i>
            <span class="mangan-line"><input type="text" style="font-size: 16px;" ng-model="dataUser.lineUsername" placeholder="LINE username"></span>
          </label>
        </div>
      </div>
      <div class="card" style="margin-bottom: 0;">
        <button class="button button-block button-oren button-outline" ng-click="updateUserData()">Simpan</button>
        <center><button class="button button-clear button-balanced" ng-click="signOut()">Log Out</button></center>
      </div>
    </div>
  </ion-content>
</ion-view>