<ion-view id="profilKurir">
    <ion-nav-title>Profil Kurir</ion-nav-title>

    <ion-content lazy-scroll padding="true" class="has-header">
        <div class="card mangan-card">
            <a class="item item-text-wrap mangan-menu" style="background-color:#f9f9f9;border-top:0px;border-left:0px;border-right:0px;" ion-ripple>
                <center><img src="img/kurir.png" width="30%" height="auto" style="margin-bottom: 5px; border-radius: 50%;"></center>
                <center><h2>ESD Kurir</h2></center>
                <center><p>7 Armada Siap Melayani Anda</p></center>
                <center><p>Surakarta</p></center>
            </a>

            <div class="list">
                <div class="kontak-header" style="">Daftar Tarif Pengiriman</div>
                <div class="item item-text-wrap mangan-menu" style="border-left: 1px solid rgb(230,231,232);border-right: 1px solid rgb(230,231,232);">
                    <div class="row">
                        <div class="col"><p>Solo</p></div>
                        <div class="col"><p>Rp 7000</p></div>
                        <div class="col"><p>Exclude Parkir</p></div>
                    </div>
                     <div class="row">
                        <div class="col"><p>Sukoharjo</p></div>
                        <div class="col"><p>Rp 15000</p></div>
                        <div class="col"><p>Exclude Parkir</p></div>
                    </div>
                </div>
            </div>
        </div>
        
    </ion-content>
</ion-view>