<ion-view view-title="Profil" id="profil">
  <ion-content overflow-scroll="false" class="has-header">
  <div id="content" style="position: relative;" ng-show="dataUser">
      <div class="list" style="background-color: #f2f3f3;">
        <div id="profile-image">
          <center>
            <img ng-src="{{dataUser.photoUrl}}" width="30%" height="auto" style="margin-top:20px; margin-bottom: 5px; border-radius: 50%;">
          </center>
          <h4 style="text-align: center;">{{dataUser.name}}</h4>
        </div>
      </div>
      <div class="list" style="margin: 0; padding:0; border-radius: 0;">
        <div class="item item-text-wrap mangan-menu" style="border: 0;">   
          <label class="item-input mangan-menu">
            <i class="mangan-invoice-icon icon ion-ios-person"></i>
            <input type="text" style="" ng-model="dataUser.name">
          </label>
          <label class="item-input mangan-menu">
            <i class="mangan-invoice-icon icon ion-calendar"></i>
            <input type="text" ng-model="getDate(dataUser.dateOfBirth)" readonly="true">
          </label>
          <label class="item-input mangan-menu">
            <i class="mangan-invoice-icon icon ion-ios-email"></i>
            <input type="text" style="" ng-model="dataUser.email">
          </label>
          <label class="item-input mangan-menu">
            <i class="mangan-invoice-icon icon ion-android-call"></i>
            <input type="text" ng-model="dataUser.noTelpUser" placeholder="Nomor Telepon" style="" >
          </label>

          <label class="item-input mangan-menu">
            <i class="mangan-invoice-icon icon ion-ios-chatboxes"></i>
            <input type="text" ng-model="dataUser.lineUsername" placeholder="LINE username">
          </label>
        </div>
      </div>
      <div class="item item-divider" style="border: 0; min-height:0; box-shadow: inset 0 0 3px rgba(136,136,136,0.3);"></div>
      <div class="mangan-bottom" style="margin-bottom: 0;">
        <button class="button button-block button-oren button-outline" ng-click="updateUserData()">Simpan</button>
        <center><button class="button button-clear button-balanced" ng-click="signOut()">Log Out</button></center>
      </div>
    </div>
  </ion-content>
</ion-view>