<!-- <div class="mangan-modal-container"> -->
	<ion-modal-view class="" style="">
		<ion-header-bar class="bar bar-header bar-balanced">
			<h1 class="title">{{selectedPromo.namaPromo}}</h1>
			<button class="button button-primary" ng-click="modal.hide()"><span class="icon ion-close"></span></button>
		</ion-header-bar>

		<ion-content lazy-scroll overflow-scroll="false" has-header="true" padding="true" class="has-footer">
			<div style="position: relative; -webkit-backface-visibility: hidden;">
				<img class="mangan-image-4_3" src="{{selectedPromo.url}}"> 
	            <div class="item-body mangan-nama-restoran mangan-menu" style="background-color: white; border-bottom: 1px solid rgb(230,231,232);">
	                <span style="padding: 0;"><i class="icon mangan-kontak-icon ion-ios-bell-outline"></i>
	                	{{selectedPromo.namaPromo}}
	                </spn>
	                <p style="margin-top: 0; margin-bottom:0;">{{selectedPromo.resto}}</p>
	                <p style="margin-top: 0; margin-bottom:0; color: orangered;">Valid hingga : {{selectedPromo.valid}}</p>
	            </div>
	            <div class="item-body mangan-menu" style="">
	                <p>{{selectedPromo.keterangan}}</p>
	            </div>
	        </div>
		</ion-content>

		<div style="height:auto; position:fixed; bottom:0px;left:0px;right:0px;"> 
			<div class="item mangan-menu" style="box-shadow: 0px 0px 10px 2px rgba(136,136,136,1); border-top:0;">
	        	<div class="row" style="padding: 0;">
                	<!-- <div class="col col-20" style="padding:0;"></div> -->
	                <div class="col" style="padding:0; position:relative;" ion-ripple>
	                    <button class="mangan-tombol-aksi" ng-click="">
	                        <i class="mangan-icon icon ion-android-share-alt"></i>
	                    </button>
	                </div>
	                 <div class="col" style="padding:0; position:relative;" ion-ripple>
	                    <button class="mangan-tombol-aksi" ng-click="">
	                        <i class="mangan-icon icon ion-link"></i>
	                    </button>
	                </div>
	                <div class="col" style="padding:0; position:relative;" ion-ripple>
	                    <button class="mangan-tombol-aksi" ng-click="">
	                        <i class="mangan-icon icon icon ion-chevron-right"></i>
	                    </button>
	                </div>
	            </div>
	        </div>
    	</div>
	</ion-modal-view>
<!-- </div> -->