<ion-view title="Promo" id="promo">
    <ion-content lazy-scroll padding="true" class="has-header">
        <div class="mangan-nodata" ng-hide="promos || promos.length > 0">
            <center><i class="ion-android-notifications-none"></i></center>
            <p>Tunggu promo menarik dari Kuliner favorit anda</p>
        </div>
        <ion-list>
            <ion-item class="item-thumbnail-left assertive item-text-wrap" ng-repeat="promo in promos" ui-sref="tabsController.restoran({index: promo.indexResto})">
                <img image-lazy-src="{{ promo.url }}" class="mangan-image-1_1" image-lazy-distance-from-bottom-to-load="50">
                <h2>{{promo.resto}}</h2>
                <h3>{{promo.keterangan}}</h3>
                <h3>Valid Hingga:</h3>
                <h3>{{promo.valid}}</h3>
<!--                 <span class="mangan-menu-review">
                    <i class="icon ion-ios-arrow-right" style="font-size: 40px; color: rgb(1,177,178); opacity: 0.5; "></i>
                </span> -->
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>