<ion-view hide-nav-bar="true" id="dataUser-page" class="login overlay">
    <ion-content>
        <div class="list mangan-menu" style="text-align: center; margin-bottom:0; padding:0; background-color: black;">
            <div style="position: absolute; z-index: 9999; top: 60px;">
                  <img src="img/manganstd.png" width="20%">
                  <h2 style="color: white;">Hai Foodies!</h2>
                  <h4 style="color: white;"><span style="font-weight: bold; color: orangered">JELAJAHI </span> Kekayaan Kuliner Indonesia</h4>

                  <!-- form -->
                  <div class="list card" style="margin-top: 50px;">
                    <div class="item item-text-wrap mangan-menu" style="">
                        <!-- date picker -->
                        <label class="item-input mangan-menu">
                            <input type="text" placeholder="Birthday">
                        </label>
                        <label class="item-input item-select mangan-menu" style="">
                            <div class="input-label" style="color: #b2b2b2; width: 0;">Gender</div>
                            <select>
                              <option>Male</option>
                              <option>Female</option>
                            </select>
                        </label>
                        <label class="item-input mangan-menu">
                            <input type="number" placeholder="Telepon">
                        </label>
                    </div>
                  </div>
                  <div class="mangan-bottom">
                    <button class="button button-block button-oren" ng-click="complete()" ion-ripple>SUBMIT</button> 
                </div>
            </div>
            <!-- <img src="img/slide1.jpg" style="height: 100%; width: 100%; opacity: 0.8"> -->
        </div>
    </ion-content>
</ion-view>

