<ion-view title="Rekomendasi" id="rekomendasi">
    <ion-content lazy-scroll padding="true" class="has-header">
        <div class="list card"> 
            <ion-item class="item-text-wrap" style="border: 0;">Berikan Rekomendasi Kuliner</ion-item>
             <div class="row item mangan-item-clear" style="">
                <div class="col col-10">
                    <i class="icon mangan-icon-left ion-android-home"></i>
                </div>
                <div class="col">
                    <label class="item-input item-stacked-label item-text-wrap">
                        <span class="input-label">Nama Kuliner</span>
                        <input type="text" placeholder="Nama Kuliner" ng-model="data.namaResto" required>
                    </label>
                </div>
            </div>
            <div class="row item mangan-item-clear" style="">
                <div class="col col-10">
                    <i class="icon mangan-icon-left ion-location"></i>
                </div>
                <div class="col">
                    <label class="item-input item-stacked-label item-text-wrap">
                        <span class="input-label" style="width:auto;">Alamat Kuliner</span>
                        <input type="text" placeholder="Alamat Kuliner" ng-model="data.alamat" required>
                    </label>
                </div>
            </div>
            <div class="row item mangan-item-clear" style="">
                <div class="col col-10">
                    <i class="icon mangan-icon-left ion-cube"></i>
                </div>
                <div class="col">
                    <label class="item-input item-select item-text-wrap">
                        <span class="input-label">Kategori</span>
                        <select ng-model="data.jenis">
                          <option value="Restoran/Cafe">Restoran/Cafe</option>
                          <option value="Warung Makan">Warung Makan</option>
                          <option value="Street Food">Street Food (Jajanan Pinggir Jalan)</option>
                          <option value="Outlet">Food Outlet (Makanan yang Dijual di Food Court)</option>
                          <option value="HIK">Wedangan/Hik</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="row item mangan-item-clear" style="">
                <div class="col col-10">
                    <i class="icon mangan-icon-left ion-android-call"></i>
                </div>
                <div class="col">
                    <label class="item-input item-stacked-label item-text-wrap">
                        <span class="input-label">Telepon Anda</span>
                        <input type="text" placeholder="Telepon Anda" ng-model="data.kontak" required>
                    </label>
                </div>
            </div>
            <div class="row item mangan-item-clear">
                <div class="col col-10">
                    <i class="icon mangan-icon-left ion-quote"></i>
                </div>
                <div class="col" style="margin-bottom: 10px;">
                    <label class="item-input item-stacked-label item-text-wrap">
                        <span class="input-label" style="width:auto;">Deskripsi Kuliner</span>
                        <textarea placeholder="Deskripsi Kuliner" rows="3" style="border-bottom: 1px solid #ccc" ng-model="data.alasan" required></textarea>
                      </label>
                </div>
            </div>
        </div>
            <button class="button button-block button-oren" ng-click="rekomendasikan()" ion-ripple>REKOMENDASIKAN</button>
    </ion-content>
</ion-view>
