<ion-view id="page3">
    <ion-nav-title>{{category}}</ion-nav-title>
    <ion-content padding="true" class="has-header">
        <div class="list card" ng-repeat="restoran in restorans track by $index">
            <div class="mangan-list-header">
                <div class="mangan-nama-resto">{{restoran.namaResto}}
                    <span class="mangan-rating-nilai">{{restoran.rating}}
                        <i class="mangan-rating-icon icon ion-star" style="color:yellow; font-size: 20px;"></i>
                    </span>
                </div>
                <img ng-src="{{restoran.gambar[0]}}" class="mangan-image-4_3">
            </div>
            <div class="mangan-keterangan item-body">
                <div class="mangan-keterangan-buka">{{restoran.keteranganBuka}}</div>
                <div class="mangan-keterangan-teks">{{restoran.keteranganResto}}</div>
            </div>
            
            <div class="row mangan-selengkapnya">
                <span class="col col-75" style="padding:0;margin-top: 3px;">
                    <a ui-sref="tabsController.restoran({index: restoran.index})" id="tersimpan-button18" class="button button-positive button-small">SELENGKAPNYA</a>
                </span>
                <span class="col" style="padding:0;">
                    <button class="mangan-tombol-aksi" ng-click="shareRestoran($index)">
                        <i class="mangan-icon icon ion-android-share-alt"></i>
                    </button>
                </span>
                <span ng-if="checkSavedRestoran(restoran.index) == true" class="col" style="padding:0;">
                    <button class="mangan-tombol-aksi" ng-click="saveRestoran(restoran.index)">
                        <i class="mangan-icon icon ion-heart" style="color:red;"></i>
                    </button>
                </span>
                <span ng-if="checkSavedRestoran(restoran.index) == false" class="col" style="padding:0;">
                    <button class="mangan-tombol-aksi" ng-click="saveRestoran(restoran.index)">
                        <i class="mangan-icon icon ion-heart" style="color:white;"></i>
                    </button>
                </span>
            </div>
        </div>


    </ion-content>
</ion-view>