<ion-view id="page10">
    <ion-nav-title>{{restoran.namaResto}}</ion-nav-title>
    <ion-content lazy-scroll padding="true" class="has-header">
        <div class="list card">
        <div class="mangan-list-header">
            <div class="row mangan-nama-resto" style="z-index: 9999;">
                <span class="col col-75">{{restoran.namaResto}}</span>
                <span class="col mangan-rating-nilai" ng-show="restoran.rating && restoran.rating != 'null'">{{restoran.rating}}
                    <i class="mangan-rating-icon icon ion-star"></i>
                </span>
             </div>
<!--              <ion-slides style="width: 100%; height: 223px;">
                <ion-slide>
                    <img ng-src="{{restoran.gambar[0]}}" class="mangan-image-4_3">
                </ion-slide>
            </ion-slides> -->
            <img image-lazy-src="{{restoran.gambar[0]}}" class="mangan-image-4_3" image-lazy-distance-from-bottom-to-load="50">
        </div>
            <div class="mangan-detail-review">
                <div class="mangan-detail-keterangan" ng-show="restoran.keteranganBuka && restoran.keteranganBuka != 'null'"><strong>{{restoran.keteranganBuka}}</strong></div>
                <div class="mangan-detail-review-col-1">
                    <!-- <p>{{restoran.reviewTim | limitTo: 70}}{{restoran.reviewTim.length > 70 ? '...' : ''}}</p> -->
                    <div ng-bind-html="restoran.keteranganResto | limitTo: 100"><p ng-bind="restoran.keteranganResto.length > 100 ? '...' : ''"></p></div>
                    <button class="selengkapnya mangan-tombol-aksi" ng-click="openReview()" ng-show="restoran.reviewTim && restoran.reviewTim != 'null'">(Baca Ulasan)</button>
                </div>
                <div class="mangan-detail-review-col-2">
                    <a href=""><img class="mangan-reviewer" src="{{restoran.reviewer.foto}}"></a>
                </div>
                <div class="clear"></div>
            </div>
            

            <ion-list class="mangan-menu-list">
                <ion-item class="mangan-menu item-thumbnail-left assertive" style="border: 5px solid rgb(230,231,232);" ng-repeat="menu in menus">
                    <img image-lazy-src="{{ menu.gambar }}" class="mangan-image-1_1" image-lazy-distance-from-bottom-to-load="50">
                    <h2>{{menu.namaMenu}}</h2>
                    <h3>{{menu.harga | currency:'Rp ':2}}</h3>
                    <span class="mangan-tag-menumakanan">Khas</span>

                    <span class="mangan-menu-review">
                        <button class="mangan-button-menumakanan" ng-click="openMenu( {{ $index }} )">
                            <i class="icon ion-eye assertive" style="font-size: 20px;"></i>
                        </button>
                    </span>
                </ion-item>
            </ion-list>
            <div class="mangan-menu-selengkapnya" ng-show="menus && menus.length > 3">
                <a ui-sref="tabsController.menus({ index: restoran.index })" id="selatViens-button20" class="button button-positive button-small">MENU LAINNYA</a>
            </div>


            <div class="mangan-spacer"></div>
            <div class="mangan-kontak-header" ng-show="(restoran.noTelp && restoran.noTelp != 'null') ||
                                                        (restoran.email && restoran.email != 'null') ||
                                                        (restoran.alamat && restoran.alamat != 'null')">
                <p>Kontak</p>
            </div>
            <div class="mangan-kontak">
                <div class="mangan-kontak-konten">
                    <a href="" ng-show="restoran.noTelp && restoran.noTelp != 'null'"><i class="mangan-kontak-icon icon ion-ios-telephone"></i>{{restoran.noTelp}}</a>
                    </br>
                    <a href="" ng-show="restoran.email && restoran.email != 'null'"><i class="mangan-kontak-icon icon ion-email"></i>{{restoran.email}}</a>
                    <p href="" ng-show="restoran.alamat && restoran.alamat != 'null'"><i class="mangan-kontak-icon icon ion-map"></i>{{restoran.alamat}}</p>
                </div>
            </div>
            <div class="mangan-spacer"></div>
            <div class="mangan-menu-selengkapnya" ng-show="restoran.map.lat && restoran.map.lat != 'null'">
                <a ui-sref="tabsController.peta({ index: restoran.index })" id="selatViens-button21" class="button button-positive button-small">LIHAT PETA</a>
            </div>
            <div class="mangan-spacer"></div>
            <div class="mangan-kontak-header">
                <p>Ulasan Pengunjung</p>
            </div>
            <div class="mangan-menu-list list">
                <div ng-hide="review">
                    <p>Tulis Ulasan Pertama</p>
                </div>

                <div ng-repeat="review in reviews">
                    <div class="item item-avatar item-text-wrap">
                        <img image-lazy-src="img/anonim.jpg" image-lazy-distance-from-bottom-to-load="50">
                        <h2>{{review.reviewer}}</h2>
                        <p>{{review.review}}</p>
                    </div>
                </div>
            </div>
            <div class="mangan-menu-selengkapnya">
                <button class="button button-positive button-small" ng-click="openRating()">TULIS ULASAN</button>
            </div>
        </div>
    </ion-content>
</ion-view>