<ion-view id="page3">
    <ion-nav-title>{{category}}</ion-nav-title>
    <ion-content lazy-scroll padding="true" class="has-header">
        <ion-refresher
            pulling-text="Lepas untuk memperbarui"
            on-refresh="getRestorans()"
            spinner = "ripple" >
        </ion-refresher>
        
        <div class="mangan-nodata" ng-show="nodata && !notersimpan">
            <i class="icon ion-android-wifi"></i>
            <p>Ups, Periksa jaringan internet Anda</p>
            <button class="button button-balanced button-clear icon ion-android-refresh" ng-click="getRestorans()" ion-ripple></button>
        </div>

        <div class="list card" padding="false" ng-repeat="restoran in restorans | orderObjectBy: 'tglInput' :true track by $index" ng-show="restoran.keteranganResto && restoran.keteranganResto != 'null'">

            <!-- <div ng-controller="adsController" ng-show="$index%adsCounter == 0 && $index!=0" style="margin-bottom: 5px; padding: 0;">
                <img image-lazy-src="{{showRowAds($index%5 == 0 && $index!=0)}}" class="mangan-image-4_3" image-lazy-distance-from-bottom-to-load="50">
            </div> -->

            <div class="mangan-list-header" ion-ripple>
                <div class="mangan-nama-resto">{{restoran.namaResto}}</div>
                <div ng-click="openRestoran(restoran.index, true)"><img image-lazy-src="{{restoran.gambar[0]}}" class="mangan-image-4_3" image-lazy-distance-from-bottom-to-load="50"></div>
            </div>
            <div class="row mangan-open-hour" ng-show="restoran.keteranganBuka && restoran.keteranganBuka != 'null'" ng-click="openRestoran(restoran.index)" >
                <div class="col col-10"><i class="icon mangan-icon-col ion-android-alarm-clock"></i></div>
                <div class="col"><p ng-show="restoran.keteranganBuka && restoran.keteranganBuka != 'null'"><p style="padding-top: 3px;">Buka {{restoran.keteranganBuka}}</p></div>
            </div>
            <div class="item item-text-wrap mangan-keterangan">
                <p ng-bind-html="restoran.keteranganResto"></p>
            </div>
            
            <div class="row">
                <span class="col col-20" style="padding: 0;"></span>
                <span class="col col-25" style="padding: 0; margin-left: -10px;" ion-ripple>
                    <button class="button button-balanced button-clear" ng-click="shareRestoran(restoran.index)">
                        <i class="icon ion-android-share-alt"></i>
                    </button>
                </span>
                <span class="col col-25" style="padding: 0;" ng-if="checkSavedRestoran(restoran.index) == false" ion-ripple>
                    <button class="button button-balanced button-clear" ng-click="saveRestoran(restoran.index)">
                        <i class="icon icon ion-android-favorite-outline"></i>
                    </button>
                </span>
                <span class="col col-25" style="padding: 0;" ng-if="checkSavedRestoran(restoran.index) == true" ion-ripple>
                   <button class="button button-light button-clear" ng-click="saveRestoran(restoran.index)">
                        <i class="icon icon ion-android-favorite" style="color:#c85054;"></i>
                    </button>
                </span>
                <span class="col col-25" style="padding: 0;" ion-ripple>
                    <button class="button button-balanced button-clear" ng-click="openRestoran(restoran.index, false)">
                        <i class="icon ion-more"></i>
                    </button>
                </span>
            </div>
        </div>
        <ion-infinite-scroll on-infinite="loadMoreResto()" distance="5%" immediate-check="false" spinner="spiral" ng-if="canLoadResto()">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>