<ion-view title="rincianTransaksi" id="rincianTransaksi">
    <ion-content lazy-scroll padding="true" class="has-header has-footer">
        <!-- <ion-refresher
            on-refresh="getMenus()"
            spinner = "ripple" >
        </ion-refresher> -->

        <div class="card mangan-card">
        	<div class="kontak-header">
        		<p>PESANAN</p>
        	</div>
        	<div class="item item-text-wrap mangan-menu" style="border-left: 1px solid rgb(230,231,232);border-right: 1px solid rgb(230,231,232);">
        		<div class="row">
  					<div class="col col-75"><h3>Nasi Padang</h3></div>
  					<div class="col"><h3>Rp 20000</h3></div>
				</div>
				<div class="row">
  					<div class="col col-50">
  						<p>Jumlah : <span style="">2</span></p>
  					</div>
                </div>
                <div class="row">
                    <div class="col col-100">
                        <p>Catatan tambahan: <span style="">Sambelnya pedes banget</span></p>
                    </div>
                </div>

        	</div>

            <!-- <div class="list mangan-keterangan-teks" style="border-left: 1px solid rgb(230,231,232);border-right: 1px solid rgb(230,231,232); border-bottom: 1px solid rgb(230,231,232);">
                <div class="item mangan-menu" style="margin:0; text-align: center; border-bottom:0; border-top:0;">
                        <a class="" style="text-decoration: none; color: rgb(1,177,178); font-size: 14px;" ng-click="addOrder()"><i class="icon ion-plus"></i> Tambah Pesanan</a>
                </div>
            </div> -->
		
        	<div class="kontak-header" style="">
        		<p>PENGIRIMAN</p>
        	</div>
        	
        	<div class="item item-text-wrap mangan-menu" style="border-left: 1px solid rgb(230,231,232);border-right: 1px solid rgb(230,231,232);">
        		
        		<label class="item-input mangan-menu">
        			<i class="mangan-invoice-icon icon ion-ios-person"></i>
        			<span>Ely Desyanawati</span>
        		</label>
        		<label class="item-input mangan-menu">
        			<i class="mangan-invoice-icon icon ion-ios-location"></i>
        			<span>Tegalgede</span>
        		</label>
        		<label class="item-input mangan-menu">
        			<i class="mangan-invoice-icon icon ion-ios-telephone"></i>
        			<span>085879070717</span>
        		</label>
                <label class="item-input mangan-menu">
                    <i class="mangan-invoice-icon icon ion-ios-chatboxes"></i>
                    <span>elydesyana</span>
                </label>
                <label class="item-input mangan-menu">
                    <i class="mangan-invoice-icon icon ion-android-bicycle"></i>
                    <span>Kurir Omas</span>
                </label>
			</div>

			<div class="kontak-header">
        		<p>BIAYA</p>
        	</div>
        	<div class="item item-text-wrap mangan-menu" style="border-left: 1px solid rgb(230,231,232);border-right: 1px solid rgb(230,231,232);">
	        	<div class="row">
					<div class="col col-75"><h3>Total Pesanan</h3></div>
					<div class="col"><h3>Rp 20000</h3></div>
				</div>
				<div class="row">
					<div class="col col-75"><h3>Ongkos Kirim</h3></div>
					<div class="col"><h3>Rp 5000</h3></div>
				</div>
			</div>
			<div class="item mangan-menu" style="border-left: 1px solid rgb(230,231,232);border-right: 1px solid rgb(230,231,232); margin-bottom: 50px;">
				<div class="row">
					<div class="col col-75"><h2 style="color:rgb(1,177,178);">TOTAL BAYAR</h2></div>
					<div class="col"><h2 style="color:rgb(1,177,178);">Rp 25000</h2></div>
				</div>
			</div>
		</div>
    </ion-content>
    <div style="height:auto; background-color:; position:fixed; bottom:0px;left:0px;right:0px;"> 
                <div class="item item-avatar item-icon-right mangan-menu" style="box-shadow: 0px 0px 10px 2px rgba(136,136,136,1); border-top:0;">
                    <img src="" style="margin-top:5px;">
                    <h3>Kucing</h3>
                    <p>Kurir Omas</p>
                    <button class="button button-small button-oren">Hubungi Kurir</button>
                    <i class="icon ion-ios-arrow-right" style="font-size: 40px; color: rgb(1,177,178); opacity: 0.5;" ng-click="profilKurir()" ion-ripples></i>
                </div>
    </div>
</ion-view>
