<ion-view id="page1">
    <ion-tabs class="tabs-balanced">
        <ion-tab icon="ion-android-compass" href="#/page1/page2" ion-ripple>
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab icon="ion-location" href="#/page1/tab2/page11" ion-ripple>
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab icon="ion-heart" href="#/page1/tab3/page3" ion-ripple>
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab icon="ion-android-notifications" href="#/page1/tab4/promo" badge="badge" ng-controller="mainCtrl" ion-ripple>
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>


