<ion-view id="page11">
	<ion-nav-title>{{category}}</ion-nav-title>
    <ion-content padding="false" class="has-header">
        <div class="mangan-container" style="height: 150px !important;">
            <div id="mangan-peta" data-tap-disabled="false" style="height: 100%;" ion-ripple></div>
        </div>

      
        <div class="list mangan-menu">
          <label class="item item-input item-select" style="" ng-hide="true">
            <div class="input-label">
              Lihat Kota Lain
            </div>
            <select ng-model="selectedCity" ng-change="pilihKota(selectedCity)" style="">
              <option>Surakarta</option>
              <option>Yogyakarta</option>
            </select>
          </label>
        </div>


        <div ng-show="nodata" class="mangan-nodata">
            <center><i class="ion-android-favorite-outline"></i></center>
            <p style="margin-bottom: 10px;">Ups, tidak ada restoran terdekat di lokasi kamu</p>
            <!-- <center><a ui-sref="tabsController.restorans({category: 'all', 'name': 'Terbaru'})" class="button button-oren button-small button-outline" ion-ripple>JELAJAHI</a></center> -->
        </div>

        <div class="list card mangan-restorans" ng-repeat="restoran in restoranList | orderObjectBy: 'jarak' :false track by $index" ng-show="restoran.keteranganResto && restoran.keteranganResto != 'null'" style="padding:0;" ui-sref="tabsController.restoran({index: restoran.index})">
<!--             <a class="" ng-controller="adsController" ng-show="$index%adsCounter == 0 && $index!=0">
                <img image-lazy-src="{{showRowAds($index%5 == 0 && $index!=0)}}" class="mangan-image-4_3" image-lazy-distance-from-bottom-to-load="50">
            </a> -->
            <div class="row">
	            <div class="col col-25">
	            	<div><img src="img/marker.png"></div>
                    <div ng-show="restoran.jarak >= 500">{{restoran.jarak/1000 | number:2}} km</div>
	            	<div ng-show="restoran.jarak < 500">{{restoran.jarak | number:0}} meter</div>
	            </div>
	            <div class="col col-75">
	            	<h4>{{restoran.namaResto}}</h4>
	            	<h5>{{restoran.keteranganBuka}}</h5>
	            	<h6>{{restoran.keteranganResto | limitTo: 150}}{{restoran.keteranganResto.length > 200? '...' : ''}}</h6>
	            </div>
	        </div>
        </div>
        <ion-infinite-scroll on-infinite="loadMoreResto()" distance="5%" immediate-check="false" spinner="spiral" ng-if="canLoadResto()">
        </ion-infinite-scroll>
<!-- Fitur kedepan untuk menambahkan weather -->
<!--         <div style="bottom: 0; z-index: 999; position: fixed; background-color: white; width: 100%; height: 20%;">
        	
        </div> -->
    </ion-content>
</ion-view>