<ion-view id="page3">
    <ion-nav-title>{{category}}</ion-nav-title>

    <ion-content lazy-scroll class="has-header">
        <ion-refresher
            pulling-text="Lepas untuk memperbarui"
            on-refresh="getRestorans()"
            spinner = "ripple" >
        </ion-refresher>

        <div class="list" ng-show="dataUser">
            <a class="mangan-menu item overlay" style="background:url(../img/profile1.jpg);background-position:center;background-size:cover;border-top:0px;border-left:0px;border-right:0px;" ng-click="openProfile(true)" ion-ripple>
                <center><img ng-src="{{dataUser.photoUrl}}" width="30%" height="auto" style="margin-bottom: 5px; border-radius: 50%;"></center>
                <center><h2>{{dataUser.name}}</h2></center>
                <center><p>{{dataUser.email}}</p></center>
                <center><p>Karanganyar</p></center>
            </a>

            <div class="row" style="border-bottom: 1px solid rgb(230,231,232);">
                <span class="col col-25"></span>
                <span class="col" style="padding: 0;" ion-ripple>
                    <button class="mangan-tombol-aksi" ng-click="openProfile()">
                        <i class="mangan-icon icon ion-person"></i>
                    </button>
                </span>
                <span class="col" style="padding: 0;" ion-ripple>
                    <button class="mangan-tombol-aksi" ng-click="openTransaksi()">
                        <i class="mangan-icon icon ion-android-cart"></i>
                    </button>
                </span>
            </div>
        </div>
        
        <div ng-show="nodata && !notersimpan" class="mangan-nodata">
            <center><i class="ion-sad-outline"></i></center>
            <p style="margin-bottom: 10px;">Ups, Periksa jaringan internet Anda</p>
            <center><button class="button button-oren button-small button-outline" style="width: 50%;" ng-click="getRestorans()" ion-ripple>MUAT ULANG</button></center>
        </div>

<!--         <div ng-show="notersimpan" class="mangan-nodata">
            <center><i class="ion-android-favorite" style="color:#c85054;"></i></center>
            <p style="margin-bottom: 10px;">Ups, Sepertinya Anda belum menyimpan apapun</p>
            <div class="row">
                <div class="col col-50" style="position: relative">
                    <button ui-sref="tabsController.restorans({category: 'all', 'name': 'Terbaru'})" class="button button-oren button-small button-outline" style="width:100%;" ion-ripple>JELAJAHI</button>
                </div>
                <div class="col col-50" style="position: relative">
                    <button ng-show="!dataUser || dataUser == null" class="button button-oren button-small"  style="width: 100%;" ng-click="login()" ion-ripple>LOGIN</button>
                </div>
            </div>
        </div> -->

        <div ng-show="notersimpan" class="mangan-nodata">
            <center><i class="ion-android-favorite" style="color:#c85054;"></i></center>
            <p style="margin-bottom: 10px;">Ups, Sepertinya Anda belum menyimpan apapun</p>
            <div class="row">
                <button ng-click="jelajah()" class="button button-oren button-small button-outline" style="width: 50%; display: block; margin: auto;" ng-hide="!dataUser || dataUser == null" ion-ripple>JELAJAHI</button>
                <div class="col col-50" style="position: relative;" ng-show="!dataUser || dataUser == null">
                    <button ng-click="jelajah()" class="button button-oren button-small button-outline" style="width: 100%;" ion-ripple>JELAJAHI</button>
                </div>
                <div class="col col-50" style="position: relative;" ng-show="!dataUser || dataUser == null">
                    <button class="button button-oren button-small"  style="width: 100%;" ng-click="login()" ion-ripple>LOGIN</button>
                </div>
            </div>
        </div>

        <!-- <div class="kontak-header" style="margin-bottom: 10px;" ng-show="!restorans || restorans.length > 0">
                <p>KULINER TERSIMPAN</p>
        </div> -->
        <div style="" ng-show="!restorans || restorans.length > 0">
            <h4 style="background: white; padding-left: 10px; width: 100%; margin: 15px 0; color: rgb(1,177,178);">KULINER TERSIMPAN</h4>
        </div>

        <div class="list card mangan-restorans" padding="true" ng-repeat="restoran in restorans | orderObjectBy: 'tglInput' :true track by restoran.index" ng-show="restoran.keteranganResto && restoran.keteranganResto != 'null'">
            <div class="mangan-list-header">
                <div class="row mangan-nama-resto" style="z-index: 999;">
                    <span class="col">{{restoran.namaResto}}</span>
                    <!-- <span class="col mangan-rating-nilai" ng-show="restoran.rating && restoran.rating != 'null'">{{restoran.rating}}
                        <i class="mangan-rating-icon icon ion-star" style="color:yellow; font-size: 20px;"></i>
                    </span> -->
                </div>
                <!-- <a ui-sref="tabsController.restoran({index: restoran.index})"> -->
                    <img image-lazy-src="{{restoran.gambar[0]}}" ng-click="openRestoran(restoran.index, true)" class="mangan-image-4_3" image-lazy-distance-from-bottom-to-load="50" ion-ripple>
                <!-- </a> -->
            </div>
                <a ui-sref="tabsController.restoran({index: restoran.index})">
                    <div class="row mangan-keterangan-buka" ng-show="restoran.keteranganBuka && restoran.keteranganBuka != 'null'">
                        <div class="" style="">
                            <i class="mangan-kontak-icon icon ion-calendar"></i>
                        </div>
                        <div class="col col-100">
                            <p ng-show="restoran.alamat && restoran.alamat != 'null'" style="text-align: ;">
                                   Buka {{restoran.keteranganBuka}}
                            </p>
                        </div>
                    </div>
                </a>
            <div class="mangan-keterangan item-body">
                <div class="mangan-keterangan-teks" ng-bind-html="restoran.keteranganResto"></div>
            </div>
            
            <div class="row mangan-selengkapnya">
                 <span class="col col-20" style="padding:0;">
                </span>
                <span class="col col-25" style="padding:0;">
                    <button class="mangan-tombol-aksi" ng-click="shareRestoran(restoran.index)" ion-ripple>
                        <i class="mangan-icon icon ion-android-share-alt"></i>
                    </button>
                </span>
                <span ng-if="checkSavedRestoran(restoran.index) == false" class="col col-25" style="padding:0;">
                    <button class="mangan-tombol-aksi" ng-click="saveRestoran(restoran.index)" ion-ripple>
                        <i class="mangan-icon icon icon ion-android-favorite-outline"></i>
                    </button>
                </span>
                <span ng-if="checkSavedRestoran(restoran.index) == true" class="col col-25" style="padding:0;">
                    <button class="mangan-tombol-aksi" ng-click="saveRestoran(restoran.index)" ion-ripple>
                        <i class="mangan-icon icon ion-android-favorite" style="color:#c85054;"></i>
                    </button>
                </span>
                <span class="col col-25" style="padding:0;">
                    <button class="mangan-tombol-aksi" ng-click="openRestoran(restoran.index, false)" ion-ripple>
                        <i class="mangan-icon icon ion-more"></i>
                    </button>
                </span>
            </div>
        </div>

        <div ng-hide="notersimpan || dataUser" class="mangan-nodata" style="border-top: 1px solid rgba(230, 231, 232, 0.8);">
            <center><i class="ion-android-favorite" style="color:#c85054;"></i></center>
            <p style="margin-bottom: 10px;">Kamu belum login, ayo login dulu</p>
            <div class="row">
                <button ng-show="!dataUser || dataUser == null" class="button button-oren button-small button-outline"  style="width: 50%; display: block; margin: auto;" ng-click="login()" ion-ripple>LOGIN</button>
            </div>
        </div>
    </ion-content>
</ion-view>