<ion-view title="Tersimpan" id="page3">
    <ion-content padding="true" class="has-header">
        <div class="list card">
        <div class="mangan-list-header">
            <div class="mangan-nama-resto">Rarana Cafe
                <span class="mangan-rating-nilai">4.6 
                    <i class="mangan-rating-icon icon ion-star" style="color:yellow; font-size: 20px;"></i>
                </span>
             </div>
            <img src="img/cafe.jpg" class="mangan-image-4_3">
        </div>
            <div class="mangan-keterangan item-body">
                <div class="mangan-keterangan-buka">Buka 08.00 - 15.00 WIB</div>
                <div class="mangan-keterangan-teks">Cafe dengan nuansa kontemporer modern. Menyajikan menu khas kota Solo yang lezat</div>
            </div>
            
            <div class="row mangan-selengkapnya">
                <span class="col col-75" style="padding:0;margin-top: 3px;">
                    <a ui-sref="tabsController.selatViens" id="tersimpan-button18" class="button button-positive button-small">SELENGKAPNYA</a>
                </span>
                <span class="col" style="padding:0;">
                    <button class="mangan-tombol-aksi">
                        <i class="mangan-icon icon ion-android-share-alt"></i>
                    </button>
                </span>
                <span class="col" style="padding:0;">
                    <button class="mangan-tombol-aksi">
                        <i class="mangan-icon icon ion-heart" style="color:red;"></i>
                    </button>
                </span>
                    
            </div>
        </div>

        <div class="list card">
        <div class="mangan-list-header">
            <div class="mangan-nama-resto">Rarana Cafe
                <span class="mangan-rating-nilai">4.6 
                    <i class="mangan-rating-icon icon ion-star" style="color:yellow; font-size: 20px;"></i>
                </span>
             </div>
            <img src="img/cafe.jpg" class="mangan-image-4_3">
        </div>
            <div class="mangan-keterangan item-body">
                <div class="mangan-keterangan-buka">Buka 08.00 - 15.00 WIB</div>
                <div class="mangan-keterangan-teks">Cafe dengan nuansa kontemporer modern. Menyajikan menu khas kota Solo yang lezat</div>
            </div>
            <div class="row mangan-selengkapnya">
                <span class="col col-75" style="padding:0;margin-top: 3px;">
                    <a ui-sref="tabsController.selatViens" id="tersimpan-button18" class="button button-positive button-small">SELENGKAPNYA</a>
                </span>
                <span class="col" style="padding:0;">
                    <button class="mangan-tombol-aksi">
                        <i class="mangan-icon icon ion-android-share-alt"></i>
                    </button>
                </span>

                <span class="col" style="padding:0;">
                    <button class="mangan-tombol-aksi">
                        <i class="mangan-icon icon ion-heart" style="color:red;"></i>
                    </button>
                </span>
                    
            </div>
        </div>
    </ion-content>
</ion-view>