<ion-view title="Pesanan" id="transaksi">
    <ion-content lazy-scroll padding="true" class="has-header">
        <ion-refresher
            pulling-text="Lepas untuk memperbarui"
            on-refresh="getHistory(uid)"
            spinner = "ripple" >
        </ion-refresher>
        <div class="mangan-nodata" ng-hide="transactions.length > 0">
            <center><i class="ion-bag"></i></center>
            <p>Kamu Belum Melakukan Transaksi</p>
        </div>
        
        <div class="list card" style="padding:0;" ng-hide="transactions.length == 0">
            <div class="item item-divider kontak-header" style="border:0;">
                Riwayat Transaksi 1 Minggu Terakhir
            </div>
            <div class="item item-thumbnail-left item-icon-right assertive item-text-wrap mangan-menu" style="" ng-repeat="transaction in transactions | orderObjectBy: 'tgl' :true" ng-click="rincianTransaksi(transaction.kurir, transaction.indexTransaksi)";>
            	<img ng-src="{{transaction.pesanan[0].gambar}}">
                <h3 style="padding-top:0; color: #4d544d;">{{transaction.namaResto}}</h3>
                <h3 style="color: #4d544d;">Status: <span class="kapital" style="">{{transaction.status}}</span></h3>
                <h3 style="color: #4d544d;">Kurir: <span class="kapital" style="">{{transaction.kurir}}</span></h3>
                <h3 style="color: #4d544d;">Total Bayar: <span class="kapital" style="">{{transaction.totalHarga}}</span></h3>
                <i class="icon mangan-kontak-icon ion-ios-arrow-right" style=""></i>
            </div>
        </div>
    </ion-content>
</ion-view>