<div class="mangan-modal-container">
	<ion-modal-view class="mangan-modal-menu">
		<ion-header-bar class="bar bar-header bar-balanced">
			<h1 class="title">Ulasan Menu</h1>
			<button class="button button-primary" ng-click="modalMenu.hide()"><span class="icon ion-close"></span></button>
		</ion-header-bar>

		<ion-content has-header="true" padding="true">
			<img ng-src="{{ selectedMenu.reviewGambar }}" class="mangan-image-4_3">
			<div class="list">
				<div class="item item-avatar">
					<img class="mangan-ulasan-resto" src="img/I2zcNZBWSvKHt1RKm5eR_photo_2016-04-14_12-26-26.jpg">
					<h2 style="font-weight: bold;">{{ selectedMenu.reviewer.nama }}</h2>
					<p>Diulas pada 8 Agustus</p>
				</div>
		        <div class="item-body" style="background-color: rgb(230, 231, 232);">
			        <div class="mangan-review-title">
						{{ selectedMenu.namaMenu }}
						<span class="mangan-tag-review mangan-tag-menumakanan">Khas</span>
			        </div>
		        	<div class="mangan-keterangan-teks">
		        		{{ selectedMenu.review }}
		        	</div>
		        </div>
			</div>
		</ion-content>
	</ion-modal-view>
</div>