<ion-view id="pesan">
    <ion-nav-title>{{namaResto}}</ion-nav-title>
    <ion-content lazy-scroll padding="true" class="has-header">
        <ion-refresher
            on-refresh="refreshRatingReview()"
            spinner = "ripple" >
        </ion-refresher>

        <div class="card mangan-card">
            <div class="row kontak-header">
                <span class="col col-70"><p>Ulasan dari Pengguna</p></span>
                <a class="button button-small button-clear" style="text-decoration:none; color:white; padding:0;" ng-click="openRating()">Tulis Ulasan</a>
            </div>

            <ion-list>
                <ion-item class="mangan-menu" style="border-left:1px solid rgb(230,231,232);border-right:1px solid rgb(230,231,232);">
                    <h2>{{namaResto}}</h2>
                    <!-- <p>Rating: 5 <i class="icon ion-android-star" style="color: orangered"></i></p> -->
                    <p><i class="icon ion-sad-outline" style="color: orangered"></i> {{jmlSad}}
                       <i class="icon ion-happy-outline" style="color: orangered"></i> {{jmlHappy}}
                       <i class="icon ion-android-favorite-outline" style="color: orangered"></i> {{jmlFavorite}}</p>
                    <p>{{jmlReview}} Ulasan</p>
                </ion-item>
                <ion-item class="mangan-menu item-avatar item-text-wrap" style="border-left:1px solid rgb(230,231,232);border-right:1px solid rgb(230,231,232);" ng-repeat="review in reviews | orderObjectBy: 'tglReview' :true">
                    <img class="mangan-ulasan-resto" src={{review.userPhotoUrl}} style="margin-top:6px;">
                        <h2 style="color: rgb(1,177,178); font-weight: bold;">{{review.username}}</h2>
                        <h3 style="color: rgb(1,177,178);">{{review.titleReview}}</h3>
                        <p style="color:black;">{{review.review}}</p>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>