<div class="mangan-modal-container">
	<ion-modal-view class="mangan-modal-menu">
		<ion-header-bar class="bar bar-header bar-balanced">
			<h1 class="title">Ulasan Menu</h1>
			<button class="button button-primary" ng-click="modalMenu.hide()"><span class="icon ion-close"></span></button>
		</ion-header-bar>

		<ion-content lazy-scroll has-header="true" padding="true">
			<img ng-src="{{selectedMenu.reviewGambar}}" class="mangan-image-4_3" image-lazy-distance-from-bottom-to-load="50">
			<div class="list card" ng-show="selectedMenu.review" style="border:0;">
				<div class="item item-avatar">
					<img class="mangan-ulasan-resto" src="{{selectedMenu.reviewer.foto}}">
					<h2 style="font-weight: bold;">{{ selectedMenu.reviewer.nama }}</h2>
					<p>Diulas oleh team MANGAN</p>
					<!-- <p>Diulas pada 8 Agustus</p> -->
				</div>
		        <div class="item-body" style="background-color: rgb(230, 231, 232); margin-bottom: 10px;">
			        <div class="mangan-review-title">
						{{ selectedMenu.namaMenu }}
						<!-- <span class="mangan-tag-review mangan-tag-menumakanan">Khas</span> -->
			        </div>
		        	<div class="mangan-keterangan-teks" ng-bind-html="selectedMenu.review">
		        		<!-- {{ selectedMenu.review }} -->
		        	</div>
		        </div>
			</div>
		</ion-content>
	</ion-modal-view>
</div>