<div class="mangan-modal-container">
	<ion-modal-view class="mangan-modal">
		<ion-header-bar class="bar bar-header bar-balanced">
			<h1 class="title">Ulasan</h1>
			<button class="button button-primary" ng-click="modalReview.hide()"><span class="icon ion-close"></span></button>
		</ion-header-bar>

		<ion-content lazy-scroll has-header="true" padding="true">
			<div class="list">
				<div class="item item-avatar">
					<img class="mangan-ulasan-resto" src="{{restoran.reviewer.foto}}">
					<h2 style="font-weight: bold;">{{restoran.reviewer.nama}}</h2>
					<!-- <p>Diulas pada {{restoran.reviewer.tglReview}}</p> -->
				</div>
		        <div class="item-body" style="background-color: rgb(230, 231, 232);">
			        <div class="mangan-review-title">
						{{restoran.namaResto}}
						<span class="mangan-rating-nilai" style="color:orangered; font-weight: normal; font-size: 16px;" ng-show="restoran.rating && restoran.rating != 'null'">{{restoran.rating}}
							<i class="mangan-rating-icon icon ion-star" style="color:orangered; font-size: 20px;"></i>
			            </span>
			        </div>
		        	<div class="mangan-keterangan-teks" ng-bind-html="restoran.reviewTim">
		        		<!-- {{restoran.reviewTim}} -->
		        	</div>
		        </div>
			</div>
		</ion-content>
	</ion-modal-view>
</div>