/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$balanced: rgb(1,178,177) !default;
$positive: orangered !default;
$button-small-height: 30px !default;
$item-padding: 10px !default;
$button-border-radius:  0px !default;
// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// variable color
$background-color: rgb(1, 178, 177);
$auth-big-btn-bg: #FFF;
$auth-small-btn-color: #FFF;
$facebook-blue: #294886;
$google-red: #DD4B39;
$welcome-color: #FFFFFF;


// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

p {
	margin-bottom: 0;
}

.mangan-nama-resto{
	color: white; 
	background: rgba(0,0,0,0.6); 
	position:absolute;
	bottom: 0;
	padding: 8px 0 5px 10px; 
	/*width: 100%; */
	height: auto; 
	font-size: 18px;
	line-height: 1.5;
}

.mangan-nama-restoran{
	color: #4d544d;
	background-color: #f5f5f5; 
	padding: 8px 0 5px 10px; 
	width: 100%; 
	height: auto; 
	font-size: 18px;
	line-height: 1.5;
	font-weight: bold;
}

.mangan-list-header {
	position: relative;
	width: auto;
}

.mangan-selengkapnya{
	width: 100%;
	height: auto;
	/*border-right: 1px solid rgb(230,231,232);
	border-left: 1px solid rgb(230,231,232);
	border-bottom: 1px solid rgb(230,231,232);
	border-top: 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;*/
}

.mangan-detail-review {
	color: black;
	/*padding-top: 5px;*/
	border-top: 0;
	border-bottom: 1px solid rgb(230,231,232);
	/*border-left: 1px solid rgb(230,231,232);
	border-right: 1px solid rgb(230,231,232);
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;*/
}

.mangan-detail-keterangan {
	background-color: rgb(230, 231, 232);
	color: orangered;
	font-size: 16px;
	padding: 5px;
	padding-right: 20px;
	display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.mangan-image-4_3 {
	background: url('../img/preload.jpg');
	background-position:center;
	background-size:cover;
	width: 100%;
	height: auto;
	min-height: 200px;
	margin: 0;
	padding: 0;
	display: block;
	/*border-top-right-radius: 5px;
	border-top-left-radius: 5px;*/
}

.mangan-image-review {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	display: block;
}

.mangan-image-jelajah{
	background: url('../img/minipreload.jpg');
	background-position:center;
	width: 100%;
	min-height: 105px;
}

.mangan-image-1_1 {
	background: url('../img/preload1.jpg');
	background-position:center;
}

.mangan-greeting-gambar {
	background: url('../img/cat.jpg');
	background-position:center;
	background-size: cover;
	border-radius: 50%; 
	border: 1px solid rgba(230, 231, 232, 0.8);
}

.mangan-reviewer {
	background: url('../img/user.png');
	background-position:center;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	border: 2px solid white;
	right: 0;
}

.mangan-ulasan-resto{
	background: url('../img/user.png');
	background-position:center;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	border: none;
}

.mangan-ulasan-menu{
	width: 100%;
	height: auto;
	background-color:rgb(1,178,177);
}

.mangan-detail-review-col-1 {
	float: left;
	width: 75%;
	margin-left: 5px;
	padding-top: 5px;
}

.mangan-detail-review-col-1 > p {
	margin: 0;
}

.mangan-detail-review-col-2 {
	float: right;
	width: 60px;
}

.clear {
	clear: both;
}

.selengkapnya {
	font-size: 14px;
	color: yellow;
	line-height: 12px;
	text-decoration: none;
	margin-bottom: 10px;
	padding-left: 0;
}

.mangan-menu-review {
	float:right;
	padding-right:5px;
	margin-top:-25px;
}

.mangan-menu-tag {
	color: rgb(1, 178, 177);
	border: 1px solid rgb(1, 178, 177);
	border-radius: 3px;
	display: inline-block;
	padding: 2px;
}

.item > p {
	color: rgb(1, 178, 177);
}

/*.card .item{
	// border: 2.5px solid rgb(230, 231, 232);
	border-left: 1px solid #e6e7e8;
	border-right: 1px solid #e6e7e8;
}*/

.card .item:first-child {
	/*// border: 5px solid rgb(230, 231, 232);*/
	border-top: 1px solid rgb(230, 231, 232);
}

.card .item:last-child {
	/*// border: 5px solid rgb(230, 231, 232);*/
	border-bottom: 1px solid rgb(230, 231, 232);

}

.mangan-menu-selengkapnya {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.mangan-tombol-pesan{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.list {
	margin-bottom: 10px;
	border-bottom: white;
}

.card {
	margin-top: 0;
	// background-color: rgb(1, 178, 177);
}

.list:last-child.card {
	margin-bottom: 10px;
}

.mangan-rating-nilai, .mangan-rating-icon {
	color: yellow; 
	font-size: 20px;
	text-align: right;
}

.mangan-keterangan {
	padding: 15px;
	/*border-left: 1px solid rgb(230,231,232);
	border-right: 1px solid rgb(230,231,232);*/
	border-bottom: 1px solid rgb(230,231,232);
}


.mangan-keterangan-buka {
	color: #4d544d;
	/*font-weight: bold;*/
	font-size: 14px;
	/*font-weight: normal;*/
	width: 100%;
	line-height: 1.5;
	/*height: auto;*/
	padding: 10px 10px 10px 15px;
	/*padding-left: 15px; */
	border-bottom: 1px solid rgb(230,231,232);
	// margin-bottom: 10px;
	// border-radius: 5px;
	// border: 2px solid orange;
	// -webkit-box-shadow: 0px 0px 10px 0px rgba(136,136,136,1);
	// -moz-box-shadow: 0px 0px 10px 0px rgba(136,136,136,1);
	// box-shadow: 0px 0px 10px 0px rgba(136,136,136,1);
}

.mangan-keterangan-buka > i {
	color: #4d544d;
}

.mangan-keterangan-teks {
	font-size: 14px;
	line-height: 1.5;
	font-weight: 300;
}

// .mangan-ikon-aksi {
// 	margin-top: -5px;
// 	// float: right;
// }

.mangan-tombol-aksi {
	background: none;
	border: none;
}

.mangan-icon {
	font-size: 25px;
	color: rgb(1,177,178);
}

.mangan-menu-list{
	margin-bottom: 0;
}

.mangan-spacer {
	height: 5px;
	width: auto;
	background-color: rgb(230,231,232);
}

.mangan-line{
	border-bottom: 1px solid rgb(230,231,232);
	width: 100%;
}
.mangan-kontak {
	padding-bottom: 0;
	border-top:1px solid rgb(230,231,232);
	border-bottom:1px solid rgb(230,231,232);
}

.kontak-header {
	background-color: rgb(1, 178, 177);
	padding: 10px;
	color: white;
	font-size: 16px;
}

.mangan-kontak-header > p{
	margin-bottom: 0;
}

.mangan-kontak-konten {
	background-color: white;
	padding: 10px;
}

.mangan-kontak > a {
	text-decoration: none;
}

.mangan-kontak-icon {
	padding-right: 5px;
	font-size: 20px;
	color: #4d544d;
}

.mangan-invoice-icon {
	margin-right: 10px;
	margin-left: -5px;
	font-size: 20px;
	color: #4d544d;
}

.mangan-button-menumakanan{
	background:rgb(230,231,232);
	border:solid rgb(230,231,232); 
	border-radius: 20px;
}

.mangan-label-menumakanan{
	font-size: 12px; color: white; background: rgb(1,178,177); 
	position:absolute; 
	border-bottom-right-radius: 10px; 
	left:10px; top: 5px; 
	padding: 2px 7px;
}

.mangan-tag-menumakanan{
	font-weight: bold; font-size: 12px; 
	color: rgb(1,178,177); 
	border: 1px solid rgb(1,178,177); border-radius: 4px;
	padding: 2px; 
}

.mangan-menu {
	// border: 5px solid rgb(230,231,232);
	// -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
	// -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
	// box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
}

.mangan-menu > img {
	margin-top: -5px;
}

.mangan-menu span {
	color: black;
	font-weight: 300;
}

.mangan-menu > h2 {
	padding-top: 5px;
}

.mangan-menu > h3 {
	color: rgb(1,178,177);
}

.mangan-menu > h5 {
	color: #78715f;
}

.mangan-menu p {
	/*color: #78715f;*/
	color: black;
	font-weight: 300;
	font-size: 14px;
	line-height: 1.5;
}

.mangan-menu select{
	/*color: #78715f;*/
	/*color: black;
	font-weight: 300;
	font-size: 14px;*/
}

.mangan-menu .input-label{
	/*color: #78715f;*/
	/*color: black;
	font-weight: 300;*/
	font-size: 14px;
}


.mangan-menu > h3 > a {
	text-decoration: none;
}

.mangan-kategori{
	font-size: 12px;
	color: white; 
	background: rgba(0,0,0,0.6); 
	position:absolute; 
	// border-top-right-radius:10px;
	bottom: 10px;
	padding: 0 5px; 
	width: 93.5%; 
	height: auto;
}

.jelajah-tile{
	position: relative;
}

.mangan-review-title {
	display: inline-block;
	width: 100%; 
	height: auto; 
	font-size: 20px;
	font-weight: bold;
}

.mangan-modal-container .modal{
    min-height: 0 !important;
}

.mangan-modal {
    width: 90%;
    height: 60%;
    top: 20%;
    bottom: 20%;
    right: 5%;
    left: 5%;
}

.mangan-modal-menu {
    width: 90%;
    height: 80%;
    top: 10%;
    bottom: 10%;
    right: 5%;
    left: 5%;
}

.mangan-modal-menu-gambar {
	width: 90%;
    height: 36%;
    top: 32%;
    bottom: 32%;
    right: 5%;
    left: 5%;
}

.mangan-modal-review {
    width: 90%;
    height: 63%;
    top: 20%;
    bottom: 25%;
    right: 5%;
    left: 5%;
}

.modal-backdrop-bg {
    transition: opacity 300ms ease-in-out;
    -webkit-transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
}

.active .modal-backdrop-bg {
    opacity: 0.5;
}

.mangan-tag-review {
	float: right;
}

.mangan-menu-navigasi {
	bottom: 0;
	width: 100%;
	/*height: %;*/
	text-align: center;
	/*padding: 8px;*/
	position: fixed;
	background-color: rgb(1, 178, 177);
}

.mangan-container {
	height: 100%;
	width: 100%;
}

#mangan-peta {
	height: 90%;
	width: 100%;
}

.ionic_ratings .icon {
	font-size: 40px;
}

.mangan-rating {
	padding-top: 10px;
	/*background-color: rgb(230, 231, 232);*/
}

.mangan-ulasan {
	padding: 10px;
	/*background-color: rgb(230, 231, 232);*/
	/*border-top: 1px solid white;*/
}

/*.mangan-ulasan > textarea, 
.mangan-ulasan > input{
	width: 100%;
	border: 2px solid grey;
	padding: 5px;
	border-radius: 2px;
}*/

.mangan-review-button {
	padding-top: 5px;
}

.mangan-nodata{
	width: 100%;
	height: auto;
	padding: 10px 10px;
}

.mangan-nodata p{
	// display: flex;
  	align-items: center;
  	justify-content: center;
  	text-align: center;
  	color: rgba(0,0,0,0.7);
  	margin:0;
  	padding-top: 5px;
}

.mangan-nodata i{
	// display: flex;
 //  	align-items: center;
 //  	justify-content: center;
 //  	text-align: center;
 	display: block;
 	margin-left: auto;
 	margin-right: auto;
 	width: auto;
  	color:rgba(0,0,0,0.3);
	font-size: 40px;
//  padding-top : 5px;
}

.gallery-container {
	-ms-box-orient: horizontal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
}

.gallery {
	padding-bottom: 0;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-flex; /* Safari */
    display: flex; 
    display: flexbox;
    display: box;
    flex-wrap: wrap;
}

.tabs-top.tabs-striped .tab-item.tab-item-active, .tabs-top.tabs-striped .tab-item.active, .tabs-top.tabs-striped .tab-item.activated {
	margin-top: 0px;
	border-width: 0px;
	border-style: none;
}

.tabs-striped.tabs-balanced .tabs {
	border-bottom: 0;
}

.button-small {
    overflow: hidden;
    white-space: nowrap;
    border-radius: 2px;
    padding-left: 20px;
    padding-right: 20px;
	//-webkit-box-shadow: 0px 0px 10px 2px rgba(136,136,136,1);//
	//-moz-box-shadow: 0px 0px 10px 2px rgba(136,136,136,1);//
	//box-shadow: 0px 0px 10px 2px rgba(136,136,136,1);//
}

.mangan-button-jumlah{
	padding: 2px 4px 1px;
	min-width: 20px;
	min-height: 22px;
	font-size: 12px;
	line-height: 18px; 
}
.mangan-button-jumlah .icon:before, .mangan-button-jumlah.icon:before, .mangan-button-jumlah.icon-left:before, .mangan-button-jumlah.icon-right:before {
	    font-size: 16px;
	    line-height: 19px;
	    margin-top: 3px;
}
.button-oren {
    background-color:#ff6a32;
    border-color: transparent;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 2px;
}

.button.button-oren:hover {
      color: #fff;
      text-decoration: none; }
    .button.button-oren.active, .button.button-oren.activated {
      background-color: #ff6a32; }
    .button.button-oren.button-clear {
      border-color: transparent;
      background: none;
      box-shadow: none;
      color: #ff6a32; }
    .button.button-oren.button-icon {
      border-color: transparent;
      background: none; }
    .button.button-oren.button-outline {
      border-color: #ff6a32;
      background: transparent;
      color: #ff6a32; }
      .button.button-oren.button-outline.active, .button.button-oren.button-outline.activated {
        background-color: #ff6a32;
        box-shadow: none;
        color: #fff; }

.mangan-disclaimer {
	width: 100%;
	height: auto;
	// background-color: rgba(255, 255, 0, 0.4);
	// margin-bottom: 5px;
	margin-left: 4px;
	padding: 2px;
	color: orangered;
	font-weight: bold;
}

.spinner svg {
	width: 45px;
	height: 45px;
	stroke: rgba(1,178,177,0.7);
	fill: rgba(1,178,177,0.7);
}

.loading-container .loading {
	background-color: rgba(0,0,0,0) !important;
}

.mangan-restorans {

}

.mangan-keterangan-buka-info {
	color: white;
	float: right;
	font-size: 16px;
}

.mangan-card{
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}

.tab-nav {
	-webkit-box-shadow: 0px 0px 10px 2px rgba(136,136,136,1);
	-moz-box-shadow: 0px 0px 10px 2px rgba(136,136,136,1);
	box-shadow: 0px 0px 10px 2px rgba(136,136,136,1);
}

.mangan-tombol{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.kapital{
	display: inline-block;
}

.kapital:first-letter{
	text-transform: uppercase;
}


.login
{
	// background-color: $background-color;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#01b2b1+0,f28509+100 */
// background: #01b2b1; /* Old browsers */
// background: -moz-linear-gradient(top,  #01b2b1 0%, #f28509 100%); /* FF3.6-15 */
// background: -webkit-linear-gradient(top,  #01b2b1 0%,#f28509 100%); /* Chrome10-25,Safari5.1-6 */
// background: linear-gradient(to bottom,  #01b2b1 0%,#f28509 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

background: url('../img/login.jpg');
background-position:center;
background-repeat:no-repeat;
background-size:100%;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01b2b1', endColorstr='#f28509',GradientType=0 ); /* IE6-9 */

	.top-content
	{
    	height: 66%;

		.app-copy
		{
			text-align: center;
			padding-top: 13vh;
		}

		.app-logo
		{
			font-size: 40px;
			font-family: sans-serif;
			font-weight: 600;
			color: $welcome-color;
			letter-spacing: 8px;
			text-transform: uppercase;
		}

		.app-tagline
		{
			font-size: 16px;
			margin-top: 0px;
			font-weight: 500;
			color: rgba($welcome-color, 0.95);
		}
	}

	.bottom-content
	{
    	height: 34%;

		.facebook-sign-in
		{
			border-radius: 4px;
			font-weight: 500;
			color: $auth-small-btn-color;
			background-color: $facebook-blue;
			border-color: darken($facebook-blue, 2);
		}

		.google-sign-in
		{
			border-radius: 4px;
			font-weight: 500;
			color: $auth-small-btn-color;
			background-color: $google-red;
			border-color: darken($google-red, 2);
		}
	}
}

.mangan-bottom {
	text-align: center;
	padding: 0 10px;
    border-top-right-radius: 0; 
    border-top: 0;
}


.card .item:last-child, .list-inset .item:last-child, .padding > .list .item:last-child{
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.card .item:first-child, .list-inset .item:first-child, .padding > .list .item:first-child{
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly]:not(.cloned-text-input),
textarea[readonly]:not(.cloned-text-input),
select[readonly] {
  background-color: white;
  cursor: not-allowed; }

input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
  background-color: transparent; }

.controls {
border: 1px solid transparent;
border-radius: 2px 0 0 2px;
box-sizing: border-box;
position: absolute;
line-height: 22px;
}
#pac-input {
background-color: #fff;
font-family: Roboto;
font-size: 15px;
font-weight: 300;
padding: 0 11px 0 13px;
text-overflow: ellipsis;
width: 90%;
margin-bottom: 0;
line-height: 15px;
}
#pac-input:focus {
border-color: #4d90fe;
}
.pac-container {
font-family: Roboto;
z-index: 1051 !important;
}
#type-selector {
color: #fff;
background-color: #4d90fe;
padding: 5px 11px 0px 11px;
}
#type-selector label {
font-family: Roboto;
font-size: 13px;
font-weight: 200;
}

.overlay:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: block;
  z-index:0;
  background-color: rgba(0,0,0,0.5);
}





