/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$balanced: rgb(1,178,177) !default;
$positive: orangered !default;
$button-small-height: 20px !default;
$item-padding: 10px !default;
$button-border-radius:  0px !default;
$card-box-shadow: 0 -1px -1px rgba(0, 0, 0, 0.3) !default;
// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

p {
	margin-bottom: 0;
}

.mangan-nama-resto{
	color: white; 
	background: rgba(0,0,0,0.6); 
	position:absolute;
	bottom: 0;
	padding: 8px 0 5px 10px; 
	width: 100%; 
	height: auto; 
	font-size: 20px;
}

.mangan-list-header {
	position: relative;
	width: auto;
}

.mangan-selengkapnya{
	width: 100%;
	height: auto;
	padding: 10px; 
	background-color:rgb(1,178,177);
}

.mangan-detail-review {
	background-color: rgb(1,178,177);
	color: white;
	padding-top: 5px;
	min-height: 100px;
}

.mangan-detail-keterangan {
	background-color: rgb(230, 231, 232);
	color: orangered;
	font-size: 16px;
	padding: 5px;
	padding-right: 20px;
	display: inline-block;
}

.mangan-image-4_3 {
	background: url('../img/preload.jpg');
	background-position:center;
	width: 100%;
	height: auto;
	min-height: 200px;
	margin: 0;
	padding: 0;
	display: block;
}

.mangan-image-jelajah{
	background: url('../img/minipreload.jpg');
	background-position:center;
	width: 100%;
	min-height: 105px;
}

.mangan-image-1_1 {
	background: url('../img/preload1.jpg');
	background-position:center;
}

.mangan-reviewer {
	background: url('../img/user.png');
	background-position:center;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	border: 2px solid white;
	right: 0;
}

.mangan-ulasan-resto{
	background: url('../img/user.png');
	background-position:center;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	border: none;
}

.mangan-detail-review-col-1 {
	float: left;
	width: 75%;
	margin-left: 5px;
	padding-top: 5px;
}

.mangan-detail-review-col-1 > p {
	margin: 0;
}

.mangan-detail-review-col-2 {
	float: right;
	width: 60px;
}

.clear {
	clear: both;
}

.selengkapnya {
	font-size: 14px;
	color: yellow;
	line-height: 12px;
	text-decoration: none;
	margin-bottom: 10px;
	padding-left: 0;
}

.mangan-menu-review {
	float:right;
	padding-right:5px;
	margin-top:-25px;
}

.mangan-menu-tag {
	color: rgb(1, 178, 177);
	border: 1px solid rgb(1, 178, 177);
	border-radius: 3px;
	display: inline-block;
	padding: 2px;
}

.item > p {
	color: rgb(1, 178, 177);
}

.card .item{
	// border: 2.5px solid rgb(230, 231, 232);
	border-left: 5px solid rgb(230, 231, 232);
	border-right: 5px solid rgb(230, 231, 232);
}

.card .item:first-child {
	// border: 5px solid rgb(230, 231, 232);
}

.card .item:last-child {
	// border: 5px solid rgb(230, 231, 232);
}

.mangan-menu-selengkapnya {
	text-align: center;
	padding: 10px;
	background-color: rgb(1, 178, 177);
}

.list {
	margin-bottom: 10px;
	border-bottom: white;
}

.card {
	margin-top: 0;
	// background-color: rgb(1, 178, 177);
}

.list:last-child.card {
	margin-bottom: 10px;
}

.mangan-rating-nilai, .mangan-rating-icon {
	color: yellow; 
	font-size: 20px;
	text-align: right;
}

.mangan-keterangan {
	border: 5px solid rgb(230,231,232);
}

.mangan-keterangan-buka {
	color: red; 
	font-weight: bold; 
	font-size: 14px;
}

.mangan-keterangan-teks {
	font-size: 14px;
	text-align: justify;
	line-height: 16px;
}

// .mangan-ikon-aksi {
// 	margin-top: -5px;
// 	// float: right;
// }

.mangan-tombol-aksi {
	background: none;
	border: none;
}

.mangan-icon {
	font-size: 20px;
	color: white;
}

.mangan-menu-list{
	margin-bottom: 0;
}

.mangan-spacer {
	height: 5px;
	width: auto;
	background-color: rgb(230,231,232);
}

.mangan-kontak {
	background-color: rgb(230,231,232);
	padding: 5px;
	padding-bottom: 0;
}

.mangan-kontak-header {
	background-color: rgb(1, 178, 177);
	padding: 10px;
	color: white;
	font-size: 18px;
}

.mangan-kontak-header > p{
	margin-bottom: 0;
}

.mangan-kontak-konten {
	background-color: white;
	padding: 10px;
}

.mangan-kontak-konten > a {
	text-decoration: none;
}

.mangan-kontak-icon {
	margin-right: 10px;
	font-size: 15px;
	color: orangered;
}

.mangan-button-menumakanan{
	background:rgb(230,231,232);
	border:solid rgb(230,231,232); 
	border-radius: 20px;
}

.mangan-label-menumakanan{
	font-size: 12px; color: white; background: rgb(1,178,177); 
	position:absolute; 
	border-bottom-right-radius: 10px; 
	left:10px; top: 5px; 
	padding: 2px 7px;
}

.mangan-tag-menumakanan{
	font-weight: bold; font-size: 12px; 
	color: rgb(1,178,177); 
	border: 1px solid rgb(1,178,177); border-radius: 4px;
	padding: 2px; 
}

.mangan-menu {
	border: 5px solid rgb(230,231,232);
}

.mangan-menu > img {
	margin-top: -5px;
}

.mangan-menu > h2 {
	padding-top: 5px;
}

.mangan-menu > h3 {
	color: rgb(1,178,177);
}

.mangan-kategori{
	font-size: 12px;
	color: white; 
	background: rgba(0,0,0,0.6); 
	position:absolute; 
	// border-top-right-radius:10px;
	bottom: 10px;
	padding: 0 5px; 
	width: 93.5%; 
	height: auto;
}

.jelajah-tile{
	position: relative;
}

.mangan-review-title {
	display: inline-block;
	width: 100%; 
	height: auto; 
	font-size: 20px;
	font-weight: bold;
}

.mangan-modal-container .modal{
    min-height: 0 !important;
}

.mangan-modal {
    width: 90%;
    height: 60%;
    top: 20%;
    bottom: 20%;
    right: 5%;
    left: 5%;
}

.mangan-modal-menu {
    width: 90%;
    height: 80%;
    top: 10%;
    bottom: 10%;
    right: 5%;
    left: 5%;
}

.mangan-modal-menu-gambar {
	width: 90%;
    height: 36%;
    top: 32%;
    bottom: 32%;
    right: 5%;
    left: 5%;
}

.mangan-modal-review {
    width: 90%;
    height: 63%;
    top: 20%;
    bottom: 25%;
    right: 5%;
    left: 5%;
}

.modal-backdrop-bg {
    transition: opacity 300ms ease-in-out;
    -webkit-transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
}

.active .modal-backdrop-bg {
    opacity: 0.5;
}

.mangan-tag-review {
	float: right;
}

.mangan-menu-navigasi {
	bottom: 0;
	text-align: center;
	padding: 10px;
	background-color: rgb(1, 178, 177);
}

.mangan-container {
	height: 100%;
	width: 100%;
}

#mangan-peta {
	min-height: 92.5%;
	width: 100%;
}

.ionic_ratings .icon {
	font-size: 40px;
}

.mangan-rating {
	padding: 10px;
	background-color: rgb(230, 231, 232);
}

.mangan-ulasan {
	padding: 10px;
	background-color: rgb(230, 231, 232);
	border-top: 1px solid white;
}

.mangan-ulasan > textarea, 
.mangan-ulasan > input{
	width: 100%;
	border: 2px solid grey;
	padding: 5px;
	border-radius: 2px;
}

.mangan-review-button {
	padding-top: 5px;
}

.mangan-nodata{
	width: 100%;
	height: auto;
	padding: 10px 10px;
}

.mangan-nodata p{
	// display: flex;
  	align-items: center;
  	justify-content: center;
  	text-align: center;
  	color: rgba(0,0,0,0.7);
  	margin:0;
  	padding-top: 5px;
}

.mangan-nodata i{
	// display: flex;
 //  	align-items: center;
 //  	justify-content: center;
 //  	text-align: center;
 	display: block;
 	margin-left: auto;
 	margin-right: auto;
 	width: auto;
  	color:rgba(0,0,0,0.3);
	font-size: 40px;
	padding-top : 5px;
}

.gallery-container {
	-ms-box-orient: horizontal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
}

.gallery {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-flex; /* Safari */
    display: flex; 
    display: flexbox;
    display: box;
    flex-wrap: wrap;
}

.tabs-top.tabs-striped .tab-item.tab-item-active, .tabs-top.tabs-striped .tab-item.active, .tabs-top.tabs-striped .tab-item.activated {
	margin-top: 0px;
	border-width: 0px;
	border-style: none;
}

.tabs-striped.tabs-balanced .tabs {
	border-bottom: 0;
}